.dropdown-header{
	padding: 10px;
    width: 230px;
    height:44px;
}

.dropdown-header,
#distanceContainer input{
	border: 1px solid rgb(192,192,192);
}

#distanceContainer input{
    display: inline;
    overflow: hidden;
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px;
    height: auto;
}

#distanceContainer{
    text-align:center;
    padding:10px 0px;
}

.dropdown-header .trigger-dropdown{
/* 	display:inline-block; */
	cursor: pointer;
}

.remove-filter{
	font-size:16px;
	float:left;
/* 	padding:5px; */	
	margin-right:5px;
	display:none;
}

.dropdown-header .glyphicon{
	line-height:22px;
}

.glyphicon-ok{
    padding: 10px 0px;
    font-size: 17px;
    cursor: pointer;
}

.center{
/* 	margin:auto; */
/* 	width:600px; */
}

.filter-container{
	padding:0px;
	margin:2px;
}
#headerRow{
	text-align:center;
    padding-top: 15px;
}

#headerRow .group{
	display:inline-block;
	padding: 10px 7px;
	width:auto;
}

.approved-filter{
/* 	background-color:#F6C627; */
	background-color:#9a7601;
	color:#ffffff;
}

#showSaveFilter, #clearAllFilters{
	text-align: center;
/*     font-size: 16px; */
    margin-bottom: -7px;
    padding-bottom: 5px;
/*     color:#163B3D; */
/*     font-weight:bold; */
}

#showSaveFilter span{

    font-size: 16px;
    color:#163B3D;
    font-weight:bold;
}

#approveSaveFilter{
/* 	margin-top:-15px; */
}

#savedFindJobFiltersContainer{
	width:200px;
}

.saved-find-job-filter{
	text-align:left;
	padding:3px 0px;
}

#city {
    width: 150px;
}

#radius, #state, #zipCode {
    width: 100px;
}

#milesFromContainer{
	padding:0px 10px;
}

.dropdown{
	position:absolute;
	z-index: 1000;
    border: 3px solid rgb(192,192,192);
    padding: 10px 20px;
    background-color: #ffffff;
	width:100%;
	display:none;
}

.trigger-dropdown .glyphicon-menu-up,
.trigger-dropdown .glyphicon-menu-down{
	float: right;
}

.filter-text{
    padding: 0px 3px;
    font-size: 16px;
}

#work-days-dropdown{
	width:520px;
}

#additionalFiltersContainer{
	width:702px;
	margin:auto;
}

#getJobs{
	padding: 13px 20px;
	font-size:16px;
	width:110px;
}

.filter-container{
	position:relative;
	width: 230px;
	
}

