.dropdown-header{
	padding: 10px;
    width: 230px;
    border: 1px solid rgb(192,192,192);
    height:44px;
}

#distanceContainer input{
    display: inline;
    overflow: hidden;
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px;
    height: auto;
}

#distanceContainer{
    text-align:center;
    padding:10px 0px;
}

.dropdown-header .trigger-dropdown{
/* 	display:inline-block; */
}

.remove-filter{
	font-size:16px;
	float:left;
/* 	padding:5px; */	
	margin-right:5px;
}

.dropdown-header .glyphicon{
	line-height:22px;
}

.glyphicon-ok{
    padding: 10px 0px;
    font-size: 17px;
    cursor: pointer;
}

.center{
/* 	margin:auto; */
/* 	width:600px; */
}

.filter-container{
	padding:0px;
	margin:2px;
}
#headerRow{
	text-align:center;
    padding-top: 15px;
}

#headerRow .group{
	display:inline-block;
	padding: 10px 7px;
}

.approved-filter{
/* 	background-color:#F6C627; */
	background-color:#9a7601;
	color:#ffffff;
}

#showSaveFilter, #clearAllFilters{
	text-align: center;
/*     font-size: 16px; */
    margin-bottom: -7px;
    padding-bottom: 5px;
/*     color:#163B3D; */
/*     font-weight:bold; */
}

#showSaveFilter span{

    font-size: 16px;
    color:#163B3D;
    font-weight:bold;
}

#approveSaveFilter{
	margin-top:-15px;
}

#savedFindJobFiltersContainer{
	width:200px;
}

.saved-find-job-filter{
	text-align:left;
	padding:3px 0px;
}

