#sortByContainer p{
	margin: 0px 4px;
}

#sortByHeader{
	height:50px;
    line-height: 50px;
    padding: 2px 30px;
/*     border-bottom: 3px solid #5B7BA3; */
    border-bottom: 1px solid #000000;
/*     background-color: #e7e7df; */
/*     background-color: #5b7ba3; */
	background-color:#163B3D;
    color: #ffffff;
}

#sortByHeader p{
	display:inline;
	font-size:18px;
}

#sortByHeader .glyphicon{
	font-size:14px;
	margin-left:10px;
}

#sortByHeader [data-toggle-id]{
	display:inline-block;
	cursor:pointer;
}

#sortByContainer{
	position:relative;
}

#sortByOptions{
	position:absolute;
	display:none;
	z-index:1000;
	border: 3px solid #5B7BA3;
	border-top:0;
    background-color: #ffffff;
    width:100%;
    padding:10px 15px;
    font-size: 16px;
}

.sort-by-container .sort-direction-container{
	padding:5px 0px 5px 30px;
	font-style:italic;
	cursor:pointer;
}

.sort-by-container .name{
	font-weight:bold;
}

.sort-by-container .sort-direction:hover{
	text-decoration: underline;
}
