.calendar-container .calendar td {
	padding: 0px;
    vertical-align: top;
    text-align: center;
    height: 75px;
    width: 70px;
/* 	background: #f9f9f9; */
	background: #fff;
}
.calendar td:not(.ui-datepicker-other-month){
    border: 1px solid #e4e4e4;	
    height: 103px;
}
.calendar a,
span.ui-state-default{
	color: #000;
}

.job-work-day .select-work-day{
    position: absolute;
    width: 33px;
    height: 29px;
    background: #888888;
    /* top: 6px; */
    top: 40px;
    left: 15px;
    opacity: .5;
    box-shadow: 4px 4px 3px #717171;
    border-radius: 3px;    
}
.job-work-day .select-work-day{
/* 	background: #65a765; */
	opacity: 1;
	z-index: 1000;
}
td.job-work-day{
    cursor: pointer;
}
.proposal.work-day-container td.job-work-day.proposed-work-day{
	opacity: 1;
}
.proposal.work-day-container td.job-work-day{
	opacity: 0.6;
}
.proposal.work-day-container td.job-work-day.no-available-positions{
/* 	background: #3d8457; */
	background: #3d847b;
	background: #7ec3b4;
}
td.job-work-day.has-conflicting-employment{
	background: #a23030;
}
.proposal.work-day-container td.job-work-day.no-available-positions,
.proposal.work-day-container td.job-work-day.has-conflicting-employment{
	opacity: 1;
	color: #fff;
	cursor: default;
}
.job-work-day.no-available-positions .select-work-day,
.job-work-day.has-conflicting-employment .select-work-day{
	display: none;
}
.proposal.work-day-container td.job-work-day.no-available-positions a,
.proposal.work-day-container td.job-work-day.no-available-positions .added-content p{
	font-weight: bold;
	color: #000;
}
.proposal.work-day-container td.job-work-day.has-conflicting-employment a,
.proposal.work-day-container td.job-work-day.has-conflicting-employment .added-content p,
{
	color: #fff;
}

td.job-work-day.has-conflicting-employment{
	cursor: default;
}
td.job-work-day{
/* 	background: #f3f3f3; */
}
.calendar-container td.job-work-day.proposed-work-day{
	background: #fff;
/* 	border: 2px solid #99ce99; */
/* 	border: 2px solid #163b3d; */
/* 	border: 2px solid #245212; */
	border: 2px solid #36595a;
}
.added-content .glyphicon-ok{
	font-size: 28px;
/* 	display: none; */
}

td.job-work-day.proposed-work-day .added-content .glyphicon-ok{
/* 	color: #163b3d; */
	color: #043e04;
}
td.job-work-day .added-content .glyphicon-ok{
	color: #737373;
}
td.job-work-day.proposed-work-day a{
	display: block;
	width: 100%;
/*  	background: #99ce99; */
/*  	background: #41a560; */
 	background: #36595a;
/*  	background: #245212; */
/* 	background: #163b3d; */
/* 	background: #197994; */
	color: #fff;
	
}
.calendar td.job-work-day .added-content{
	position: relative;
}
.calendar td.job-work-day.has-conflicting-applications .added-content{
/* 	background: #6e8cc5; */
/*     border-radius: 4px; */
}
.job-work-day .added-content p{
	font-weight: bold;
	font-size: 14px;
	color: #4e4a4a;
	margin: 0;
}
.job-work-day.proposed-work-day .added-content p{
	font-weight: bold;
	font-size: 14px;
	color: #000;
	
}
.job-work-day.has-conflicting-applications .added-content .other-application{
    height: 30px;
    width: 100%;
    background: #6e8cc5;
    position: absolute;
    bottom: 3px;
    opacity: 0.6;
}
.job-work-day.has-conflicting-applications.proposed-work-day .added-content .other-application{
/* 	opacity: 1; */
}
td.other-application-work-day a,
td.other-application-work-day span.ui-state-default{
    width: 100%;
    display: inline-block;
    background: #7389b3;
    color: #fff !important;
}
/* td.other-application-work-day{ */
/* 	border: 2px solid  #7389b3; */
/* } */
.response-container .added-content p:first-of-type{
/* 	margin-bottom: 20px; */
	margin-bottom: 0px;
}
.response-container .added-content p:nth-of-type(2){
/* 	margin-bottom: 0px; */
/* 	margin-bottom: 35px; */
}
.wage-proposal-calendar .calendar tbody tr{
	display: none;
}
.wage-proposal-calendar .calendar tbody tr.show-row{
	display: table-row;
}