.wage-proposal-history-table th{
	font-size: 16px;
}

.wage-proposal-history-table tr.you td{
    color: #337ab7;
    font-weight: bold;
}


span.show-wage-proposal-history{
	font-size:11px;
}

/* .wage-proposal-history-table tr:hover{ */
/* 	background-color: #ffffff; */
/* } */