.response-container.dropdown-style{
	width: 770px;
}


.response-container{
	background: #fefff9;
}

.confirm.sqr-btn,
.send.sqr-btn{
	font-size: 22px;
	padding: 10px 20px;
	background: #197994;
	color: #ffffff;
	line-height: 60px;
	cursor: pointer;
}

.cancel:hover,
.edit:hover {
	cursor: pointer;
	text-decoration: underline;
}

.proposal-container .header{
	text-align: right;
	padding-bottom: 30px;
	height: auto;
}

.proposal-container .header button.sqr-btn{
    background: #c36262;
    color: #ffffff;
    font-weight: normal;
    font-size: 15px;
}

.proposal-container button.sqr-btn.selected{
	background: #197994;
	color: #ffffff
}

.proposal-container button.sqr-btn{
	color: #197994;
/* 	font-weight: bold; */
	cursor: pointer;
	background: #f3f3f3;
	font-size: 16px;
}


.counter-container{
	display: none;
    border-bottom: 1px solid #cacaca;
/*     background: #f3f3f3;     */
	padding-top: 25px;
    text-align: left;
}

.proposal.set-expiration div{
	display: inline-block;
	width: 80px;
}

.proposal.set-expiration div div p{
	font-weight: normal
}

.proposal.set-expiration div p{
	display: block;
	margin-bottom: 4px;
}

.proposal.set-expiration > div{
	width: 64%;
}
	

.set-expiration input{
	width: 50px;
	text-align: center;
}

.counter-wage input{
	width: 120px;
}

.counter-container p span,
.counter-wage input{
	margin-left: 15px;
	font-weight: normal;
}

.counter-container p{
	font-weight: bold;
}
.calendar-container-proposed-work-days {
    width: 300px;
    margin: auto;
}

div.confirmation-container div.calendar-container div.calendar{
	text-align: center;
	width: 300px;
	padding-top:25px;
	margin: auto;
}

.calendar-container-confirm-proposed-work-days .calendar-container .calendar{
	text-align: center;
	width: 100%;
}

.confirmation-container{
	display: none;
}

.counter-wage div{
	width: 300px;
    margin: auto;
	text-align: left;
}

.proposal .button-group{
	text-align: right;
}

.proposal > p,
.proposal > div{
	display: inline-block;
	width: 32%;
	text-align: left;
}

.proposal > p:first-child{
	font-weight: bold;
	color: #163b3d;
	padding-left: 8px;
	border-left: 2px solid #cacaca;
	vertical-align: top;
}
.proposal{
	padding: 20px 0px;
}

.proceed-to-confirmation-container,
.send-container{
/* 	height: 60px; */
	padding-top: 25px;
    border-top: 1px solid #cacaca
}



.calendar-container .calendar td.proposed{
	background: #163b3d;
}

.confirmation-container .proposal.confirm  > div{
	width: 67%;
}

.confirmation-container .proposal.confirm > div p{
	width: 100%;
}

.bold{
	font-weight: bold;
	font-size: 17px;
}