.proposal-wrapper h1{
    width: 800px;
    margin: 15px auto 25px;
    background: #fff;
    color: #163b3d;
    text-align: center;
    /* padding: 20px; */
    font-size: 25px;
    /* color: #197994; */
    font-weight: bold;
    border-bottom: 2px solid #197994;
    padding-bottom: 10px;
}
#make-offer-modal .mod-content,
.proposal-container .mod-content{
    top: 20px;
    width: 1200px;
    margin-left: -600px;
    margin-bottom: 20px;  
/*     text-align: center;   */
}

.other-container{
	display: none;
    padding-left: 35px;
    padding-top: 10px;    
}
.other-container .time-input{
	display: inline-block;
}
.other-container .time-input input{
	width: 60px;
    margin-right: 10px;
}
.other-container .radio-container{
	margin-top: 15px;
}
.proposal-wrapper{
	position: relative;
	text-align: left;
}
.proposal-content-wrapper{
	width: 950px;
	margin: auto;
}
.proposal-wrapper.counter-context .review-context:not(.counter-context){
	display: none;
}
.proposal-wrapper.review-context .counter-context:not(.review-context){
	display: none;
}
.proposal-wrapper.accepting-offer-context .proposing-new-offer-context{
	display: none;
}
.proposal-wrapper.proposing-new-offer-context .accepting-offer-context{
	display: none;
}
.proposal-wrapper.context-employee .context-employer{
	display:none;
}
.proposal-wrapper.context-employer .context-employee{
	display:none;
}
.proposal-item > label{
	font-weight: bold;
	font-size: 19px;
	width: 180px;
}
.send-status-warning{
	margin: auto;
	width: 560px;
    display: inline-block;	
/*     min-height: 160px;	 */
/*     display: table; */
}
.send-status-warning p{
/* 	display: table-cell; */
}
.proposal-item-content{
	width: 60%;
}
.proposal-wrapper .v2 .ui-datepicker-inline{
	margin: 0;
/* 	min-height: 320px; */
}
.proposal-item{
	margin-bottom: 50px;
}
.wage-proposal-wrapper input{
    font-size: 25px;
    width: 150px;
    text-align: center;
}
.proposal-wrapper .send-status-warning p{
	font-size: 17px;
/* 	font-weight: bold */
}
.a-proposal > label{
	width: 290px;
}
.a-proposal{
	margin-top: 10px;
}
.proposed-value{
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
	min-width: 120px;	
}
.respond-to-proposal{
	text-align: center;
}
.proposal-item *{
	vertical-align: top;
}
.expiration-time.proposal-item .radio-container label{
	display: block;
}
.expiration-time.proposal-item label{
	display: inline-block;
}
[data-is-waiting-on-you="true"][data-is-accepted="0"]{
	background: #ffd0d0  !important;
/* 	border: 7px solid red !important; */
}
.v2 .calendar .ui-datepicker-inline.ui-datepicker-multi{
	width: auto !important;
}
.v2 .ui-datepicker-group{
	display: block;
}
.proposal-status-wrapper,
.proposal-item-content{
	display: inline-block;
}
.proposal-status-wrapper button{
	display: block;
	background: #e4e4e4;
    width: 185px;	
    margin-bottom: 5px;
}
.proposal-status-wrapper button:hover{
	cursor: default;
}
.proposal-status-wrapper button.status-accepting.current-status{
	background: #163b3d;
	color: #fff;
}
.proposal-status-wrapper button.status-proposing.current-status{
	background: #bb0505;
	color: #fff;
}
.proposal-status-wrapper p{
	text-align: center;
	font-weight: bold;
	display: none;
}
.send-proposal-wrapper button{
	background: #197994;
	color: #fff;
	width: 185px;
	height: 85px;
}
.proposal-status-wrapper button.current-status:before{
	font-family:'Glyphicons Halflings';
	content: "\e013";
	margin-right: 10px;	
}

.send-proposal-wrapper{
/*     margin-left: 743px; */
    display: inline-block;
}
.warning-wrapper{
	
	margin-left: 180px;
}
.warning-wrapper-1 *{
	vertical-align: top;
}
.warning-wrapper-1{
	border-top: 1px solid #e4e4e4;
    padding-top: 20px;
/* 	min-height: 160px; */
}
.employer-make-initial-offer .proposal-status-wrapper,
.employer-accepted-offer .proposal-status-wrapper{
	display: none;
}