.proposal-wrapper h1{
    width: 800px;
    margin: 15px auto 25px;
    background: #fff;
    color: #163b3d;
    text-align: center;
    /* padding: 20px; */
    font-size: 25px;
    /* color: #197994; */
    font-weight: bold;
    border-bottom: 2px solid #197994;
    padding-bottom: 10px;
}
#make-offer-modal .mod-content,
.proposal-container .mod-content{
    top: 20px;
    width: 1200px;
    margin-left: -600px;
    margin-bottom: 20px;  
/*     text-align: center;   */
}

.expiration-container .radio-container label{
	display: block;
}
.expiration-container .radio-container label:first-child{
	margin-bottom: 10px;
}
.expiration-container .expiration-input-container{
	width: 460px;
	margin: auto;
	text-align: left;
/* 	padding-top: 20px; */
	padding: 5px;
}
.set-expiration label{
	display: block;
	font-size: 16px;
}
.set-expiration .custom-time-radios{
	display: inline-block;
	padding-left: 5px;
}
.custom-times-inputs{
	display: inline-block;
	vertical-align: top;
}
.custom-time-radios label:first-child{
	margin-top: 5px;
}
.set-expiration{
	margin-top: 15px;
	padding-left: 25px;
}
.time-container p{
	text-align: center;
}
.expiration-time-cont p:last-child{
    border-bottom: 1px solid #cacaca;
}
span.expiration-time{
    font-weight: bold;
    font-size: 17px;
}
.button-wrapper{
	position: absolute;
	top: 50%;
	height: 50px;
	margin-top: -25px;
}
.button-wrapper > div{
	display: table;
    color: #197994;
    font-weight: bold;	
   	width: 190px;
}
.button-wrapper span{
    display: table-cell;
    vertical-align: middle;
}
.button-wrapper.left{
	left: 0px;
	text-align: left;
}
.button-wrapper.right{
	right: 0px;
	text-align: right;
}
.button-wrapper .text{
	font-size: 24px;
}
.button-wrapper .glyphicon{
	font-size: 30px;
	color: #bbb''
}
.button-wrapper:hover{
	cursor: pointer;
}
.proposal-wrapper{
	position: relative;
	text-align: left;
}
.proposal-content-wrapper{
	width: 750px;
	margin: auto;
}
.proposal-wrapper.counter-context .review-context:not(.counter-context){
	display: none;
}
.proposal-wrapper.review-context .counter-context:not(.review-context){
	display: none;
}
.proposal-wrapper.accepting-offer-context .proposing-new-offer-context{
	display: none;
}
.proposal-wrapper.proposing-new-offer-context .accepting-offer-context{
	display: none;
}

.proposal-wrapper.context-employee .context-employer{
	display:none;
}
.proposal-wrapper.context-employer .context-employee{
	display:none;
}
.proposal-item > label{
	font-weight: bold;
	font-size: 19px;
}
.send-status-warning,
.proposal-item-content{
	margin-left: 200px;
}
.proposal-wrapper .v2 .ui-datepicker-inline{
	margin: 0;
}
.proposal-item{
	margin-bottom: 25px;
}
.wage-proposal-wrapper .counter-context input{
    font-size: 25px;
    width: 150px;
    text-align: center;
}
.proposal-wrapper .send-status-warning p{
	font-size: 17px;
}
.a-proposal > label{
	width: 290px;
}
.a-proposal{
	margin: 20px 0px;
}
.proposed-value{
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
}
.respond-to-proposal{
	text-align: center;
}
[data-is-waiting-on-you="true"][data-is-accepted="0"]{
	background: #ffd0d0  !important;
/* 	border: 7px solid red !important; */
}
.v2 .calendar .ui-datepicker-inline.ui-datepicker-multi{
	width: auto !important;
}
.v2 .ui-datepicker-group{
	display: block;
}