.response-container .mod-content {
    top: 20px;
    width: 1200px;
    margin-left: -600px;
}
.mod-body{
	position: relative;
   
}
.mod{
	text-align: center;
}
.withdraw-application{
	top: 20px;
	right: 20px;
	position: absolute;
	background: #bb4555;
    color: #fff;
}

.current-wage-proposal{
	width: 120px;
	font-size: 20px;
    background: #fcfdc1;
    border: 2px solid #163b3d;
    padding: 4px;
    margin: auto;
}

.action-button-container span{
	cursor: pointer;
}
.action-button-container{
	padding: 40px 0px 30px 0px;;
}
.confirm,
.send{
	display: inline-block;
	width: 140px;
}
.cancel,
.edit{
	display: inline-block;
    font-size: 18px;
    width: 100px;
    text-align: left;
}


.button-group .sqr-btn.gray-2{
	padding: 8px 13px;
	margin: 0;
}

h1{
	font-size: 22px;
	font-weight: bold;
	color: #197994;
	margin-bottom: 25px;
}

.button-group button.selected{
	background: #163b3d;
	color: #fff;
	border: 0;
}

.proposal h2{
	font-size: 16px;
	font-weight: bold;
	color: #163b3d;
}

input.counter-wage-amount{
	width: 62px;
}

.bold{
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}

.proposal{
    padding-bottom: 15px;
    border-bottom: 2px solid #cacaca;
/*     width: 500px; */
    margin: auto;
}


.number-of-work-days{
	margin: 20px 0px 10px 0px;
	font-size: 16px;
	font-weight: bold;
}
.ui-datepicker-title{
	font-size: 17px;
	font-weight: bold;
}


.counter-container,
.confirmation-container,
.send-proposal-container{
	display: none;
}

.response-container.confirm .button-group,
.response-container.confirm .wage-container .proposal-container,
.response-container.confirm .wage-container .counter-container,
.response-container.confirm .proceed-to-confirmation-container,
.response-container.confirm .set-expiration{
	display: none !important;
}

.response-container.confirm .confirmation-container,
.response-container.confirm .send-proposal-container{
	display: block !important;
}

.time-container{
	display: inline-block;
	margin: 0px 7px;
}
.time-container input{
	width: 65px;
}

.applicant-expiration-clock h1{
	color: #163b3d;
	margin-bottom: 10px;
}
.applicant-expiration-clock p{
	font-weight: bold;
    margin-bottom: 0px;
}








.application-proposal-container .proposal-item{
	display: inline-block;
	padding: 0px 10px;
	text-align: left;
}
.application-proposal-container{
	width: 550px
} 
.proposal-item.amount{
	width: 23%;
}
.proposal-item.amount .show-wage-proposal-history {
	margin: 0px;
}
.proposal-item.work-days{
	width: 25%;
}
.proposal-item.status{
	width: 50%;
}
.proposal-item.status p{
	display: inline-block
}




.conflicting-applications{
	width: 500px;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #cacaca;
}
.conflicting-applications p.if-you-accept{
/* 	font-weight: bold; */
}
.conflicting-applications h6{
/*     font-weight: bold; */
    padding-left: 60px;
	display: inline-block;
	line-height: 25px;
}
.conflicting-applications h6,
.conflicting-applications span.bold{
	font-size: 15px;
	text-decoration: none;
}
.conflicting-applications span.why{
	color: #5959ad;
	text-decoration: underline;
	font-size: 14px;
	margin-left: 10px;
}
.conflicting-applications .disposition{
	text-align: left;
}
.conflicting-applications .applications{
	padding-left: 75px;
/* 	text-align: center; */
}
.conflicting-applications .applications li{
	color: #337ab7;
	font-weight: bold;
}