/.externalToolBuilders/.+
/.settings/.+
/.classpath
/.project

/bin/.*
/build.*
/dist/.*
/[Ll]ogs?/.*
/TestResults/.*
/\w+[Tt]estBin/.*
#/WebContent/WEB-INF/lib/.*
#/WebContent/WEB-INF/classes/.*

.*/junit[^/]*\.properties
.*\.log(\.\d+)?
.*\.jpage
.*\.tmp