#applicationStatus{
    font-size: 22px;
    color: #5a2424;
    text-align: center;
    padding-top: 25px;
}
#employer-header{
	width: 400px;
	border-bottom: 1px solid #cacaca;
	margin: auto;
}

#employee-rating-details .criteria-name{
	width: 170px;
    display: inline-block;
    text-align: left;
}

#employee-rating-details .rating-value .star{
	font-size: 24px;
}
#employee-rating-details .rating-container{
	margin-right: 8px;
}

.completed-job h3{
	display: inline-block;
	margin-right: 10px;
	width: 175px;
	text-align: left;
}
.completed-job{
	padding: 15px 0px;
}