#applicationStatus{
    font-size: 22px;
    color: #5a2424;
    text-align: center;
    padding-top: 25px;
}


#employer-header{
	width: 400px;
	border-bottom: 1px solid #cacaca;
	margin: auto;
}
#employer-rating-details .criteria-name{
	width: 170px;
    display: inline-block;
    text-align: left;
}

#employee-rating-details .rating-value .star{
	font-size: 24px;
}

.completed-job h3{
	display: inline-block;
	margin-right: 10px;
	width: 175px;
	text-align: left;
}
.completed-job{
	padding: 15px 0px;
	width: 500px;
	margin: auto;
}
.comments-cont{
	width: 450px;
	margin: auto;
	
}
.comments-cont h5{
	font-size: 16px;
	text-align: right;
}
.comments{
	display: none;
	text-align: right;
}
.comments span{
	padding-bottom: 10px;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 10px;
}