th#start-time,
th#end-time,
th#job-name{
	width: 145px;
}
th#location{
	width: 175px;
}
tr.in-process{
	background: #a7cebc;
}
.container{
	padding: 50px 0px;
	width: 1200px;
}

.new-container{
	position: relative;
	display: inline-block;
}
a.new{
    position: absolute;
    top: -23px;
    right: -7px;
/*     font-weight: bold; */
    font-size: 16px;
    border: 2px solid #bd3131;
    background: #bd3131;
    color: #fff;
/*     color: #bd3131; */
    padding: 0px 5px;
    border-radius: 23px;
    /* text-decoration: underline; */
}

#table_jobsWaitingToStart thead tr th.job-status.first{
	border-top-left-radius: 7px;
}
#table_jobsWaitingToStart thead tr th.job-status.applicant-perspective{
	background: #429cb5;	
}
#table_jobsWaitingToStart thead tr th#offers-waiting-on.job-status.applicant-perspective{
/* 	background: #2089a7;	 */
}

/* #table_jobsWaitingToStart thead tr th.job-status{ */
/*     padding-top: 8px; */
/*     border-top: 2px solid #163b3d; */
/*     border-bottom: 2px solid #163b3d; */
/*     color: #000; */
/*     font-weight: bold; */
/*     background: #163b3d; */
/* 	background: #197994;	 */
/*     color: #fff; */
/* } */
#table_jobsWaitingToStart thead tr th:not(.job-status){
	font-weight: bold;
	white-space: nowrap;
}
#table_jobsWaitingToStart thead tr{
/*     box-shadow: 3px 3px 5px #e0cfcf; */
    box-shadow: 3px 3px 5px #848484;
/*     background: #f4f4f4; */
}
table.main-table-style thead {
	border-bottom: 0;
}
#table_jobsWaitingToStart tbody tr:hover{
	background: #f4f4f4;
}
#table_jobsWaitingToStart thead tr th{
/*     color: #000; */
/*     font-weight: bold; */
/*     letter-spacing: 0.12em; */
}

td.job-location span{
	border-right: 2px solid #cacaca;
    display: inline-block;
}

td button.replace-an-employee{
	width: 140px;
}

#table_jobsWaitingToStart td a.accent{
	padding: 20px;
}
#table_jobsWaitingToStart td a.accent:hover{
	background: #e4e4e4;
	border: 1px solid #cacaca;
	text-decoration: none;
	border-radius: 60px;
}
#table_jobsWaitingToStart td a.new:hover{
	background: #e4e4e4;
/* 	border: 1px solid #cacaca; */
	text-decoration: none;
	color: #bd3131;
}

th#offers-waiting-on span{
	display: inline-block;
    width: 50%;
    padding: 0px 20px;
}
th#offers-waiting-on{
	width: 300px;
	
}
th{
/* 	width: 150px; */
}
td.job-name{
	position: relative;
}
td .glyphicon-pencil{
    color: #888;
}