td div.hide{
	display:none;
}


td div.job.hover{
	background-color:#c18585 !important;
}

td div.job{
    height: 10px;
    position: absolute;
    width: 100%;    
    left: 0px;   
    cursor: pointer;
}

td div.job.one{
	bottom: 10px;
	background-color: #337ab7;
}

td div.job.two{
	bottom: 20px;
	background-color: #163B3D;
}

td div.job.employment{
	bottom:10px;
	background-color: #886a00;
}

td div.job.application{
	bottom:10px;
	background-color: #85b0d4;
}



td div.job.three{
	bottom: 30px;
	background-color: #cc6868;
}

.calendar td{
    position: relative;
    height:70px;
    width:50px;
    vertical-align: top;
    margin-bottom:3px;
    text-align: center;
    border-top: 1px solid #cecece;
}

#calendarContainer_applications{
/* 	width:500px; */
}

.ui-datepicker{
	width:100% !important;
}

.ui-datepicker-group:first-child{
    border-right: 2px solid #d4cfcf;
}

.calendar{
	text-align:center;
}

table#openApplications{
	margin:auto;
}

.ui-datepicker-header{
    font-size: 18px;
    font-weight: bold;
}

#calendarDetails_applications{
/* 	text-align:center; */
	width:360px;
	margin:auto;
	padding:10px;
	border-radius:5px;
}

#calendarDetails_applications .header{
	font-size:17px;
}

#calendarDetails_applications .content{
	padding-left:25px;
}

#calendarDetails_applications.disabled a.accent{
	color: #565656;
}

#calendarDetails_applications.disabled {
	background-color: #d4d4d4;
}
	
	