.job-name{
	font-size: 25px;
	text-align: center;
}
h1{
    width: 300px;
    margin: 50px auto;
    background: #197994;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.proposal-table{
	margin: auto;
}
#job-list-sort{
/* 	width: 800px; */
/* 	vertical-align: top; */
	font-size: 20px;
}
#job-list-sort .filter-item{
/* 	margin-bottom: 6px; */
}
#job-list-sort label{
	display: inline-block;
	width: 70%;
}
#job-list-sort input{
	vertical-align: top;
	margin-top: 5px;
}
.filter-item-header label{
/* 	font-size: 23px; */
}
.filter-sub-items{
	padding-left: 33px;
}
.filter-item-header label span.circle{
    font-size: 15px;
    background: #163b3d;
    padding: 2px 7px;
    border-radius: 17px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
#job-list .application:first-child h3{
	margin-top: 0px;
} 
#job-list{
/* 	width: 70%;	 */
}
#job-list, #job-list-sort{
/* 	display: inline-block; */
	margin: 0px auto 25px;;
}
#job-list .application{
/*     border-bottom: 1px solid #cacaca; */
    padding: 5px 15px;;
    margin-bottom: 20px;
    color: #000;
    width: 100%;
    text-align: left;
    background: #fdf7f7;
}
.messages{
    width: 400px;
    margin: 0px auto 20px;
    /* border: 1px solid #cacaca; */
    font-size: 18px;
}
.application:not(.warning-message){
/*     background: #f3f3f3; */
/*     border-top: 5px solid #c4c4c4; */
}
#job-list .application.warning-message h2{
	color: #cc0a0a;
	text-align: center;
}
#job-list .application .status-wrapper{
	text-align: center;
    margin: 10px auto 20px;
    width: auto;
    color: #000;
}
#job-list .application .status-wrapper .waiting-status{
    font-size: 21px;
    margin: 10px 0px;
}
#job-list .application .status-wrapper .status{
    font-size: 28px;
}
.job-header{
	text-align: left;	
}
.job-header h3 a{
	font-size: 22px;
    color: #197994;
    font-weight: bold;
}
.job-header p{
/* 	padding-left: 25px; */
	margin: 0;
}


.application .proposal{
	padding: 25px 0px 15px 25px;
	font-size: 18px;
}

#job-list .application-proposal-container{
	border: 0;
}
#job-list .expiration-time-cont p:last-child{
	border:0;
}
.employment-job-summary label{
	width: 110px;
	font-weight: bold;
	font-size: 18px;
}
.employment-job-summary  > div{
	margin-bottom: 10px;
}
.employment-job-summary .dot{
    font-size: 75px;
    line-height: 1px;
}
#activity{
	width: 800px;
	margin: auto;
}
.total{
	font-size: 18px;
	font-weight: bold;
	color: #197994;
	margin-left: 7px;
}
.total.new{
	text-decoration: underline;
	color: red;
}