#jobDetails{
	height:70px;
}

#jobDetails p{
    font-size: 21px;
    text-align: center;
    padding-top: 10px;
    display:none;
}

#contentLinksContainer{
    text-align: center;
    font-size: 24px;
    color: #337ab7;
    padding-bottom:25px;
}

#contentLinksContainer span{
	padding:2px; 
}

.content-link{
	cursor:pointer;
}

.content-link.selected{
	border-bottom: 2px solid #163B3D;
}


.section-container h4{
	margin: auto;
    width: 100%;
    font-size: 27px;
    font-style: italic;
    background-color: #337ab7;
    color:#ffffff;
    border-radius: 7px;
    display:none;
}

#employmentTable{
	width: 600px;
    margin: auto;
}

#employmentTable th{
	width:33%;
}

#noEmploymentRecord{
	text-align: center;
}

#noApplications{
	text-align:center;
}




#completedJobs_needRating_Container{
    border: 2px solid #afafaf;
    padding-bottom: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 600px;
    margin: 10px auto;
}

#completedJobs_needRating{
	width:450px;
	margin:auto;
    padding-top: 40px;
    padding-left: 25px;
}

#completedJobs_needRating table tbody > tr{
	    border-top: 1px solid #909090;
}

#completedJobs_needRating p{
	font-size:20px;
	padding-bottom: 15px;
}

#completedJobs_needRating table{
	margin-left:25px;
}
