Hello $var

#*

<table class="">
	<thead>
		<th>Name</th>
		<th>Negotiation Result</th>
	</thead>
	<tbody>
		#foreach($failedWageNegotiationDto in $failedWageNegotiationDtos)
			<tr>
				<td><a>$failedWageNegotiationDto.otherUser.firstName</a></td>
				<td>
					#set( $offerAmount = $mathUtility.round($failedWageNegotiationDto.failedWageProposal.amount, 2, 0) )
					#set( $offerAmount = $numberTool.format("#0.00", $offerAmount))
					#if($failedWageNegotiationDto.failedWageProposal.proposedToUserId ==
							$failedWageNegotiationDto.otherUser.userId)
						Your $offerAmount was rejected  															
					#else
						You rejected a $offerAmount proposal
					#end
				
			</tr>
		#end 
	</tbody>
</table>

*#
