

#applicantsTable.tile-view tbody tr:not(:last-child){
	border-bottom: 1px solid #bbbbbb;	
}

#applicantsTable.tile-view th{
/* 	padding: 0px 10px; */
/* 	border-left: 2px solid #cacaca; */
/* 	font-size: 16px; */
	width: 20%;
}


td.tile-view .image-container{
	vertical-align: top;
	padding-right: 40px;
}

td.tile-view img{
	width: 100px;
	height: 100px;
}

td.tile-view div{
	display: inline-block;
}

td.tile-view p.name{
    font-weight: bold;
    font-size: 17px;
    color: #197994;
    margin-left: -20px;
}

.proposal-container h3{
	font-size: 16px;
/* 	margin-bottom: 0px; */
}

.proposal-container p {
	padding-left: 20px;

}

td.tile-view .rating-container .star{
	font-size: 20px;
}

#applicantsTable td.tile-view{
	display: none;
}

#applicantsTable.tile-view tbody{
/* 	display: block; */
/* 	padding-left: 100px; */
	text-align: left;
}

#applicantsTable.tile-view td.tile-view{
	display: block;
	width: 600px;
	padding: 20px 0px;
	text-align: left;
}

#applicantsTable.tile-view{
	width: 700px;
	margin: auto;
}