

#applicantsTable.tile-view tbody tr:not(:last-child){
	border-bottom: 1px solid #bbbbbb;	
}

#applicantsTable.tile-view th{
/* 	padding: 0px 10px; */
/* 	border-left: 2px solid #cacaca; */
/* 	font-size: 16px; */
	width: 20%;
	font-size: 16px;
	padding: 4px 2px;
}

table#applicantsTable.tile-view th{
	width: 25%;
}

table#applicantsTable.tile-view.has-answers th,
table#applicantsTable.tile-view.has-work-days th{
	width: 20%;
}

table#applicantsTable.tile-view.has-work-days.has-answers th{
	width: 16.7%;
}


td.tile-view .image-container{
	vertical-align: top;
	padding-right: 40px;
}

td.tile-view img{
	width: 100px;
	height: 100px;
}

td.tile-view div{
/* 	display: inline-block; */
}

td.tile-view p.name{
    font-weight: bold;
    font-size: 17px;
    color: #197994;
    margin-left: -20px;
}

.proposal-container h3{
	font-size: 16px;
/* 	margin-bottom: 0px; */
}

td.tile-view .proposal-container p {
	padding-left: 20px;

}

td.tile-view .rating-container .star{
	font-size: 20px;
}

#applicantsTable td.tile-view{
	display: none;
}

#applicantsTable.tile-view tbody{
/* 	display: block; */
/* 	padding-left: 100px; */
	text-align: left;
}

#applicantsTable.tile-view td.tile-view{
	display: block;
	width: 600px;
	padding: 20px 0px;
	text-align: left;
}

#applicantsTable.tile-view{
	width: 750px;
	margin: auto;
}

#applicantsTable.tile-view td.tile-view{
	position: relative;
}

#applicantsTable.tile-view td.tile-view .image-container,
#applicantsTable.tile-view td.tile-view .proposal-container{
	float: left;	
}

#applicantsTable.tile-view td.tile-view .info-container,
#applicantsTable.tile-view td.tile-view .answer-container{
	float: right;	
}


#applicantsTable.tile-view td.tile-view .answer-container{
    padding-left: 100px;
    overflow-y: scroll;
    max-height: 120px;
    width: 470px;
}