td .application-count{
/* 	height: 80%; */
	position: absolute;
	width: 95%;
/* 	height: 50%; */
 	background: #6e8cc5;
	bottom: 3px;
	text-align: center;
}
td .employment-fraction{
/* 	height: 15%; */
/* 	position: absolute; */
/* 	bottom: 65%; */
    background: #6dad6d;
    color: #fff;	
}
td .application-count span{
	bottom: 5px;
    left: 41%;
    position: absolute;
    margin-top: 5px;
    display: inline-block;
    color: #000;
    font-weight: bold;  
/*     color: #fff; */
}

.calendar td{
	border: 1px solid #e4e4e4;
}

td.active111{
	position: relative;
}
