#job-calendar-application-summary td .employment-col{
/* 	width: 20%; */
	width: 100%;
	display: inline-block;
	height: 15%;
/* 	background: #aad4aa; */
/* 	background: #81c19b; */
/* 	background: #c3ecd4; */
	background: #7ec3b4;
	position: absolute;
/* 	right: 2px; */
/* 	bottom: 2px; */
	right: 0px;
	bottom: 0px;
}
#job-calendar-application-summary .ui-datepicker-multi .ui-datepicker-group:not(:first-child){
	padding-top: 30px;
}
#job-calendar-application-summary td .col-cont span{
    bottom: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    font-weight: bold;
}
#job-calendar-application-summary td .col-cont{
	height: 37%;
/* 	width: 20%; */
/* 	border: 2px solid #aad4aa; */
/* 	border: 2px solid #81c19b; */
	border: 2px solid #7ec3b4;
	border-bottom: 5px solid #7ec3b4;
/* 	border: 2px solid #c3ecd4; */
	position: absolute;
	right: 2px;
/* 	bottom: 2px; */
	left: 15%;
	width: 70%;
}

#job-calendar-application-summary td.all-positions-filled .col-cont{
/* 	left: 3px; */
/* 	right: 3px; */
/* 	width: auto;; */
/* 	background: #81c19b; */
/* 	display: none; */
	
}
#job-calendar-application-summary.v2 td.job-work-day.all-positions-filled .employment-col{
	display: none;
}
#job-calendar-application-summary.v2 td.job-work-day.all-positions-filled,
#job-calendar-application-summary.v2 .calendar td.job-work-day.all-positions-filled a {
/* 	background: #81c19b; */
	background: #7ec3b4;	
}
#job-calendar-application-summary td.all-positions-filled .application-count{
/* 	opacity: 0.6; */
	display: none;
}
#job-calendar-application-summary td .application-count.zero-applications{
    height: 20px !important;
    background: #fff;
    border: 2px solid #36595a;
    border-top: 5px solid #36595a;
}
.spacer{
	width: 100%;
    height: 5px;
    background: #888;
    position: absolute;
    bottom: 36%;
    display: none;
}
#job-calendar-application-summary td .application-count{
	display: inline-block;
/* 	height: 80%; */
	position: absolute;
/* 	width: 95%; */
	width: 70%;
/* 	height: 50%; */
/*  	background: #6e8cc5; */
/*  	background: #617ea5; */
 	background: #36595a;
/* 	bottoms: 3px; */
	left: 15%;
	text-align: center;
/* 	min-height: 19px; */
}
#job-calendar-application-summary td .employment-fraction{
/* 	height: 15%; */
/* 	position: absolute; */
/* 	bottom: 65%; */
	display: none;
    background: #aad4aa;
    color: #fff;
    border: 1px solid #6dad6d;
/*     color: #6dad6d;	 */
}
#job-calendar-application-summary td .application-count span{
/* 	bottom: 28px; */
/* 	bottom: -2px; */
    left: 41%;
    position: absolute;
    margin-top: 1px;
    display: inline-block;
/*     color: #000; */
    font-weight: bold;  
    color: #fff;
/* 	left: 33%; */
/*     background: #fff; */
/*     border-radius: 29px; */
/*     width: 24px; */
/*     border: 1px solid #000; */
}
#job-calendar-application-summary td .zero-applications.application-count span{
    left: 41%;
    color: #000;
    margin-top: -4px;
}


#job-calendar-application-summary td .popup{
	top: -10px;
}
#job-calendar-application-summary td .col-cont .popup .popuptext{
	font-weight: normal;
	background: #fff;
/* 	display: inline-block; */
	width: 170px;
}
#job-calendar-application-summary .col-cont .popup .title{
	display: block;
}
#job-calendar-application-summary td.job-work-day{
	position: relative;
}
#job-calendar-application-summary td.job-work-day:hover{
	background: #dcdccb;
	cursor: pointer;
}
#job-calendar-application-summary.v2 .calendar td.job-work-day:hover a{
/* 	background: #dcdccb; */
}
#job-calendar-application-summary .calendar td{
	padding: 2px;
    vertical-align: top;
    text-align: center;
    height: 75px;
    width: 70px;
/*     border-bottom: 2px solid #e4e4e4; */
}
#job-calendar-application-summary .calendar td a{
/* 	font-size: 18px; */
	font-weight: bold;
}
#job-calendar-application-summary .calendar-container .calendar td{
	height: 100px;
}
#job-calendar-application-summary{
/*     background: #fff7f7; */
}

#job-calendar-application-summary.v2 .calendar{
	padding: 15px 0px 0px 0px;
}

#job-calendar-application-summary.v2 td:not(.job-work-day){
/* 	background: #000; */
}

#job-calendar-application-summary.v2.calendar-container td{
	border-radius: 0px;
}

#job-calendar-application-summary.v2 td.job-work-day span{
	display: none;
}


#job-calendar-application-summary.v2 .calendar .ui-datepicker-inline{
	width: 725px !important;
    margin: auto;
/*     border-left: 2px solid #163b3d; */
/*     border: 2px solid #163b3d; */
    padding: 20px 26px;
    background: #fff;
/*     margin-top: 28px; */
    border-radius: 13px;    
/*     border-top: 15px solid #197994; */
/*     border-bottom: 15px solid #197994; */
}
#job-calendar-application-summary.v2 .calendar td{
	height: 125px;
	width: 100px;
}
#job-calendar-application-summary.v2 .calendar td.job-work-day a {
    background: #fff;
    color: #000;
}

#job-calendar-application-summary.v2 td.job-work-day:not(.all-positions-filled) {
    border: 2px solid #163b3d;

}
#job-calendar-application-summary.v2 td.job-work-day:not(.all-positions-filled),
#job-calendar-application-summary.v2 td.job-work-day:not(.all-positions-filled) a {

    background: #f7f7f7;
}
#job-calendar-application-summary.v2 td.job-work-day:not(.all-positions-filled) .col-cont{
	background: #fff;
}

