 span#job-name-header{
    font-size: 26px;
    margin-right: 0px;
    /* font-weight: bold; */
/*     border-left: 3px solid #197994; */
/*     border-right: 2px solid #197994; */
    padding-right: 18px;
/*     padding: 0px 3px; */
}

th.proposal{
	width: 600px;
}

td .popuptext h4{
	border-bottom: 1px solid #cacaca;
}

#applicantsTable > thead{
    border-top: 10px solid #163b3d;
}
#employeesTable > thead{
    border-top: 10px solid #163b3d;
}
.no-data p{
	font-size: 25px;
}
#all-positions-are-filled{
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 26px;
	color: #163b3d;
	font-weight: bold;
}
#employees{
    margin: auto;
    width: 850px;
}