<div class="section">

	<div class="header">
		<h3>
			Jobs Waiting To Start 
		</h3>
	</div>
	<div class="section-body">
	#if($jobDtos.size() == 0)
		<div>You have no jobs waiting to start</div>
		
	#else
		<table id="" class="main-table-style">
			<thead>
				<tr>
					<th class="expand-job-header"></th>
					<th id="name">Job Name</th>
					<th id="failedWageNegotiations">Failed Wage Negotiations</th>
					<th id="newApplicantions">New Applications</th>
					<th id="totalApplications">Total Applications</th>
					<th id="hires">Employees</th>									
					<th id="markJobCompleteHeader"></th>
				</tr>
			</thead>
			<tbody>

				## for each job
				#foreach($jobDto in $jobDtos)
				
				
				#if($jobDto.job.applications.size() > 0)
					#set ( $doCreateExpandableTable = "1" )
				#else
					#set ( $doCreateExpandableTable = "0" )
				#end 
				<tr id="$jobDto.job.id">
				
				## If the job has applications
				#if($doCreateExpandableTable == "1")
					#set ( $expandId = "expand$jobDto.job.Id" )
					<td><span data-toggle-id="$expandId" class="glyphicon glyphicon-menu-up"></span></td>
				#else					
					<td></td>
				#end
					
					<td class="job-name"><a class="accent" href="../job/$jobDto.job.Id" >$jobDto.job.jobName</a></td>
					<td class=""><span class="">$jobDto.failedWageNegotiationDtos.size()</span></td>
				## if the job has NEW applications
				#if($jobDto.job.newApplicationCount > 0)
					<td class="has-new-applicants">$jobDto.job.newApplicationCount</td>
				#else
					<td><span class="">$jobDto.job.newApplicationCount</span></td>
				#end
												
					<td class=""><span class="">$jobDto.job.getApplications().size()</span></td>
					<td class=""><span class="">$jobDto.job.getEmployees().size()</span></td>
					
					## If job is active, show the "Mark Complete" button
					#if($jobDto.job.status == 1)
					<td>														
						<a href="/JobSearch/job/$jobDto.job.id }/rate-employees?markComplete=1"><button class="square-button">Mark Complete (for debugging)</button></a>
					</td>
					#end
					

				</tr>
								
				## Expandable row that shows applicant info.
				## If there are applicants, then create a table for this info.
				#if($doCreateExpandableTable == "1")												
					<tr class="toggle-row">
						<td colspan="5">
							<div id="$expandId" class="applicants-container">
								<h4>Applicants</h4>
								<div class="">
									<table class="main-table-style">
										<thead>
											<tr>
												<th class="applicant-name">Name</th>
												<th class="applicant-rating">Rating</th>
												<th class="applicant-endorsements">Endorsements</th>	
												<th class="applicant-wage-negotiation">Wage Negotiation</th>
											</tr>
										</thead>
										<tbody>
											## for each application
											#foreach($application in $jobDto.job.applications)
											<tr class="">
											
												## Applicant info
												<td><a class="accent" href="/JobSearch/user/${application.applicant.userId}/jobs/completed">
													$application.applicant.firstName</a>
												</td>
												<td>$application.applicant.rating</td>
												<td>
													## Set the applicant's endorsements
													#foreach($endorsement in $application.applicant.endorsements)
														<div class="endorsement">													
															$endorsement.categoryName <span class="badge count">  $endorsement.count </span>
														</div>
													#end
		
												</td>
														
												## Set the application's wage status
												<td id="$application.currentWageProposal.id">																	
													<div class="wage-status">																				
													#set($wageProposalAmount = $mathUtility.round($application.currentWageProposal.amount, 2, 0))							
													#set($wageProposalAmount = $numberTool.format("#0.00", $wageProposalAmount))
													## If the current wage proposal has been accepted	
													#if($application.currentWageProposal.status == 1)																	
														<div>$wageProposalAmount has been accepted</div>															
													## If the current wage proposal has been denied									
													#elseif($application.currentWageProposal.status == 2)																	
														<div>$wageProposalAmount has been denied. Negotiations have ended.</div>															
													## Else the current wage proposal is a counter offer
													#else
														## If the counter offer was proposed TO the employer
														#if($employer.userId == $application.currentWageProposal.proposedToUserId)

															<div id="$application.currentWageProposal.id" class="counter-offer-container">
																<div class="offer-context">
																	Applicant asking for $wageProposalAmount
																</div>	
																#set( $toggleId = "$application.currentWageProposal.id" + "-wnid")
																<span class="toggle glyphicon glyphicon-menu-hamburger" data-toggle-id="$toggleId"></span>														
																<div id="$toggleId" class="counter-offer-response">
																	<button class="accept-counter">Hire</button>
																	<button class="re-counter">Counter</button>		
																	<button class="decline-counter">Decline</button>							
																	<div class="re-counter-amount-container">
																		<input class="re-counter-amount"></input>
																		<button class="send-counter-offer">Send</button>
																		<button class="cancel-counter-offer">Cancel</button>
																	</div>										
																</div>
																																																																																
															</div>
															<div class="sent-response-notification"></div>	
														## Else the counter offer was proposed BY the employer
														#else
															<div class="offer-context">Offered applicant $wageProposalAmount</div>																	
														#end
													#end ## end the wage status conditions	 													
													</div> 	
												</td>
											</tr>
											#end ## end the for each application 
										</tbody>
									</table>
								</div>
							</div>
							#*
							<div class="applicants-container">
								<h4>Failed Wage Negotiations</h4>
									<table id="">
										<thead>
											<tr>
												<th class="applicant-name">Name</th>
												<th class="applicant-rating">Rating</th>
												<th class="applicant-endorsements">Endorsements</th>	
												<th class="applicant-wage-negotiation">Wage Negotiation</th>
											</tr>
										</thead>
										<tbody>
										</tbody
									</table>
									
								
							</div>	
							
							*#
						</td>
					</tr> <!-- close applicant dropdown row -->
				#end ## end if the job has at least one application
				#end ## end for each job
			</tbody>
		</table>		
		#end ## end if there is at least one job
	</div>
</div>