 
 ##Sort-by dropdown
 ##****** ADDRESS LATER ********* 
 ##The code in this condition is currently NEVER used.
 ##The sort by drop down is hardcoded in the FindJobs.jsp.
 ##Address this later and delete if necessary.
 #if( $request.isSortingJobs == 0)
	<div class="sort-jobs-by-container">
		<div class="dropdown-input-container sort-width">
			<div class="dropdown-input-label">
				<span class="">Sort By</span>
				<span class="dropdown-input-icon glyphicon glyphicon-menu-down"></span>			
			</div>
			
			<div id="sortOptions" class="dropdown-input-selection-container">
				<ul class="sort-width">
					<li>
						<div class="sort">
							<div class="sort-filter-name">
								Start Date
							</div>
							<div class="sort-direction radio-container">
								<div class="radio">
								  <label><input data-col="StartDate" data-is-ascending="1"
								  			type="radio" name="sort">Earliest First</label>
								</div>
								<div class="radio">
								  <label><input data-col="StartDate" data-is-ascending="0"
								  			 type="radio" name="sort">Lastest First</label>
								</div>										
							</div>
						</div>
					</li>
					<li>
						<div class="sort">
							<div class="sort-filter-name">
								End Date
							</div>
							<div class="sort-direction radio-container">
								<div class="radio">
								  <label><input data-col="EndDate" data-is-ascending="1"
								   type="radio" name="sort">Earliest First</label>
								</div>
								<div class="radio">
								  <label><input data-col="EndDate" data-is-ascending="0"
								   type="radio" name="sort">Latest First</label>
								</div>										
							</div>
						</div>
					</li>		
					<li>
						<div class="sort">
							<div class="sort-filter-name">
								Start Time
							</div>
							<div class="sort-direction radio-container">
								<div class="radio">
								  <label><input data-col="StartTime" data-is-ascending="1"
								   type="radio" name="sort">Earliest First</label>
								</div>
								<div class="radio">
								  <label><input data-col="StartTime" data-is-ascending="0"
								   type="radio" name="sort">Latest First</label>
								</div>										
							</div>
						</div>
					</li>		
					<li>
						<div class="sort">
							<div class="sort-filter-name">
								End Time
							</div>
							<div class="sort-direction radio-container">
								<div class="radio">
								  <label><input data-col="EndTime" data-is-ascending="1"
								   type="radio" name="sort">Earliest First</label>
								</div>
								<div class="radio">
								  <label><input data-col="EndTime" data-is-ascending="0"
								   type="radio" name="sort">Latest First</label>
								</div>										
							</div>
						</div>
					</li>	
					<li>
						<div class="sort">
							<div class="sort-filter-name">
								Duration
							</div>
							<div class="sort-direction radio-container">
								<div class="radio">
								  <label><input data-col="Duration" data-is-ascending="1"
								   type="radio" name="sort">Shortest First</label>
								</div>
								<div class="radio">
								  <label><input data-col="Duration" data-is-ascending="0"
								   type="radio" name="sort">Longest First</label>
								</div>										
							</div>
						</div>
					</li>
					<li>
						<div class="sort">
							<div class="sort-filter-name">
								Distance
							</div>
							<div class="sort-direction radio-container">
								<div class="radio">
								  <label><input data-col="Distance" data-is-ascending="1"
								   type="radio" name="sort">Closest First</label>
								</div>
								<div class="radio">
								  <label><input data-col="Distance" data-is-ascending="0"
								   type="radio" name="sort">Furthest First</label>
								</div>										
							</div>
						</div>
					</li>																			
				</ul>
	
			</div>
	
		</div>
	</div>
	 <div id="requestOrigin" data-lat="$request.lat" data-lng="$request.lng" data-radius="$request.radius"></div>
#end	 


 <div id="requestOrigin" data-lat="$request.lat" data-lng="$request.lng" data-max-dist="$maxDistance"></div>
 
 ## Filtered/Sorted Jobs
 #if ($jobs.size() == 0)
 	<div id="noJobs">Sorry, no jobs match your search.
 	</div>
 #else
	 
	 #foreach($job in $jobs)
	 	<div id="$job.id" class="job" data-lat="$job.lat" data-lng="$job.lng">
			<div class="job-header">
				<a href="/JobSearch/jobs/find/job/${job.id}" class="job-name">$job.jobName</a>
				<span> - </span>
				<div class="job-category-container">
				#foreach($category in $job.categories)
					<span class="job-category">$category.name</span>
					#if($foreach.hasNext )
					<span class="spacer">.</span>
					#end
				#end
				</div>
			</div>
			<div class="job-body">
				<div class="job-description less-description">
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
				</div>
				<div class="show-more-less"><span class="plus-minus glyphicon glyphicon-plus"></span>
					<span class="show-more-less-text"> Show more</span></div>
				<div class="job-dates-times">
					<div class="start-date-time">
						##<span class="bold">Start</span> - $date.format("E, M-d, h:m a", $job.startDate) $job.startTime
						<span class="bold">Start</span> - $date.format("full_date", $job.startDate), $date.format("h:mm a", $job.startTime)						 
					</div>
					<div class="end-date-time">
						<span class="bold">End</span> - $date.format("full_date", $job.endDate), $date.format("h:mm a", $job.endTime)						 
					</div>
					<div class="duration">
						#set( $difference = $dateCompare.difference($job.startDate, $job.endDate) )
						#set( $duration = $difference.getDays() + 1 )
						<span class="bold">Duration</span> - $duration days
					</div>
				</div>	
				<div class="job-location">
					<span class="bold">Location</span> - $job.city, $job.state
				</div>
				<div class="job-distance">
					<span class="bold">Distance</span> - $mathUtility.round($job.distanceFromFilterLocation, 1, 0) miles
				</div>				
			</div>
			
			<div class="job-footer">
			
			</div>
		</div>
	 #end
	 
#end	