<div class="section">
	<div class="header2">
		<span data-toggle-id="jobInfoContainer">
		#if($hideOnOpen == 1)
			<span class="glyphicon glyphicon-menu-down"></span>
		#else
			<span class="glyphicon glyphicon-menu-up"></span>
		#end
			<span class="header-text">Job Information</span>
		</span>
		
		#if($context == "employer")
			<span id="editJobContainer"><a href="#" id="editJob square-button">Edit (not built)</a></span>
		#end
	</div>
	
#if($hideOnOpen == 1)
	<div id="jobInfoContainer" class="hide-element section-body">
#else
	<div id="jobInfoContainer" class="section-body">
#end	
		<div class="row">
			<div class="col-sm-6">
				<div class="body-element">$job.jobName </div>	
				<div class="body-element">
					#foreach($category in $categories)
						<div>$category.name</div>
					#end
				</div>					
				<div class="body-element">$job.description #* Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
				*#
				</div>
				<div class="body-element">
	##				<div>Start: $date.format("h:mm a", $job.startTime), $date.format("full_date", $job.startDate)</div>
	##				<div>End: $date.format("h:mm a", $job.endTime), $date.format("full_date", $job.endDate)</div>
					<div>Start: $date.format("full_date", $job.startDate)</div>
					<div>End: $date.format("full_date", $job.endDate)</div>
					
				#set ($duration = $job.duration)
				#if ($duration > 1)					
					<div>Duration: $duration days</div>
				#else
					<div>Duration: $duration day</div>
				#end
				
				</div>	
				<div class="body-element">
					<div id="workDays">
					#foreach($workDay in $workDays)
						<div data-date="$workDay.date"></div>				
					#end
					</div>
						
					<div id="calendar"></div>
				</div>
			</div>
			<div class="col-sm-6">	
				<div class="body-element">
					<div>$job.streetAddress</div>
					<div>$job.city, $job.state</div>
					<div>$job.zipCode</div>
				</div>			
				<div id="map" class="right-border" data-lat="$job.lat" data-lng="$job.lng">				
				</div>	
			</div>
		</div> ## end row
	</div>	
</div>
