<div class="section">
	<div class="header2">
		<span data-toggle-id="questionsContainer" class="glyphicon glyphicon-menu-down"></span>
		<span class="header-text">Questions</span>
	</div>
	<div id="questionsContainer" class="section-body">
	#foreach($question in $questions)
		<div class="question">
			#if($question.answerOptions.size() > 0)
				#set( $toggleId = "${question.id}-ao" )
				<div class="body-element">
					<span data-toggle-id="$toggleId" class="glyphicon-menu-up glyphicon"></span>
					$question.text
				</div>			
				<div id="$toggleId" class="answer-options-container">
					#foreach($answerOption in $question.answerOptions)
						<div>$answerOption</div>
					#end
				</div>
			#else
				<div class="body-element">    $question.text</div>	
			#end
		</div>
	#end
	</div>	
</div>