#miles{
	width: 130px;
}
#address{
	width: 400px;
}
#distance-filter{
    width: 895px;
    margin: auto;	
    height: 37px;
}
#distance-filter input{
	text-align: center;
	
}
#distance-filter-wrapper{
	padding: 12px 0px;
	background: #197994;
/*     background: #f7f7f7; */
    border-bottom: 1px solid#cacaca;
}
#bottom-content.show-days-available{
	width: 1345px;
}
#bottom-content{
/* 	width: 1175px; */
	width: 1345px;
	margin: auto;
}
#bottom-content.no-data{
	display: none;
}
#distance-filter span{
	color: #fff;
	margin: 0px 10px;
    font-size: 19px;
}
#distance-filter #find-employees{
/*     padding: 15px 27px; */
/*     background: #163b3d; */
/*     color: #fff; */
/*     font-size: 18px; */
/*     margin-left: 20px; */

    margin-left: 20px;
    font-size: 24px;
/*     color: #888; */
    line-height: 36px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    
}
#work-days-filter-value .v2 .ui-datepicker-inline{
	width: auto;
}
.filter .glyphicon{
	float: right;
	font-size: 15px;
	display: none;
}
#filters{
    width: 220px;
    /* padding: 25px; */
    vertical-align: top;
/*     border-right: 1px solid #cacaca; */
    margin-top: 20px;
}
.calendar.v2 td{
height: 33px;
    width: 25px;
    font-size: 15px;
}
}
.calendar.v2 .ui-datepicker-inline{
	width: 230px;
}
.filter .name{
	font-size: 17px;
	font-weight: bold;
}
.filter-value-container{
	padding-left: 20px;
	display: none;
}
.filter{
	margin-bottom: 25px;
}
.calendar.v2{
	padding: 0;
}
#work-days-filter-value .calendar-container{
	padding: 0;
}
.apply-filter{
/*     text-align: center; */
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    color: #197994;
}
.v2 td.active111{
	background: #163b3d;
}
#filters, #results{
	display: inline-block;
}

#unavailable-message{
	display: none;
	font-weight: bold;
	color: red
}
#select-a-job .mod-content{
    width: 300px;
    margin-left: -150px;
    top: 25%;
}
#select-a-job{
/* 	text-align: center; */
}

#select-a-job [data-job-id]{
	padding: 5px;
}
#select-a-job [data-job-id]:hover{
	background: #163b3d;
	color: #fff;
	cursor: pointer;
}