#location #miles,
#location #city,
#location #street{
	width: 150px;
}

#location #state,
#location #zipCode{
	width: 100px
}

#filtersContainer input,
#filtersContainer select{
    padding: 10px 10px;
    border-radius: 1px;
    border: 1px solid #c8c5c5;
}

#filtersContainer .filter{
	padding-bottom: 20px;
}

#filtersContainer .filter-value{
	padding-left: 60px;
}

.filter h3{
	color: #197994;
	font-size: 20px;
}

#filtersContainer{
	border-bottom: 1px solid #cacaca;
}

#resultsContainer{
	display: none;
}

td.days-available{
	position: relative;	
}

td.days-available .calendar-container{
    background-color: #ffffff;
    z-index: 10000;
    border: 2px solid #163b3d;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    display: none;
}

td.days-available .calendar-container td.is-available {
	background: #65886e;
	border-radius: 5px;
}

td.days-available .calendar-container td.is-not-available {
	background: #c38f8f;
	border-radius: 5px;
}

td.days-available .calendar-container td.is-available a,
td.days-available .calendar-container td.is-not-available a{
	color: #ffffff;
}

span.toggle-availability-calendar{
	cursor: pointer;
}
