#makeOfferModal .mod-content{
	width: 400px;
/* 	height: 420px; */
/* 	margin: -210px 0 0 -200px; */
	margin-left: -200px; 
}

#makeOfferModal .mod-header h3{
/* 	font-weight: bold; */
}

#makeOfferModal .mod-content{
	top: 25px;
	text-align: center;
}

.mod-content .item{
	padding: 15px 0px;
}

#detailsContainer_makeAnOffer,
#selectJob_initiateContact,
#actionsContainer_initiateContact{
	display: none;
}

#actionsContainer_initiateContact span{
	margin: 0px 20px;
	font-size: 20px;
	color: #163b3d;
	font-weight: bold;
	cursor: pointer;
}

#makeOfferModal .button-group button{
	margin: 0px 5px;
}

#makeOfferModal p{
	font-weight: bold;
	color: #197994;
    font-size: 16px;
}

#makeOfferModal .calendar-container{
	display: none;
}

#makeOfferModal .calendar-container td.active111{
	background: #bbbbbb;
}

.time-container span{
	width: 80px;
	display: inline-block;
    text-align: right;
    padding-right: 15px;
}

.time-container input{
	width: 60px;
	margin-bottom: 3px;
}

p#makeAnOffer_applicationStatus {
	font-weight: normal;
	color: #000000;
}