input[type=checkbox]{
    -webkit-appearance: button;
    background-color: #ffffff;    
    border-radius: 0px;
    border: 2px solid #cacaca;   
    width: 20px;
    height: 20px;  
}
input[type=checkbox]:not(:checked){
	outline: 0; 
}
input[type=checkbox]:checked{
	outline: 0; 
/* 	border: 2px solid #197994; */
	border: 0;
	background: #197994;
/* 	position: relative; */
}
input[type=checkbox]:checked::after{
/* 	position: absolute; */
/* 	left: 50%; */
/* 	margin-left: -7px; */
    font-family: 'Glyphicons Halflings';
    content: "\e013";
/* 	margin-top: -1px; */
    line-height: 15px;
    font-size: 14px;
    display: inline-block;   
   	color: #fff;
/*    	background: #197994; */
    width: 20px;
    height: 20px;   
    margin-top: 2px;
    margin-left: 3px;	
}
input[type=checkbox],
input[type=radio]{
    margin-right: 7px;
    margin-top:0px;
    vertical-align: middle;
	cursor:pointer;  
    top: 4px;  
}

label{
	font-weight:normal;
	cursor:pointer;
}

.label-horiz{
	width: 120px;
    display: inline-block;
    text-align: right;
}

.checkbox-container label{
	cursor:pointer;
}

.checkbox-container.not-checkable input[type=checkbox]{
	cursor:default;
}
.checkbox-container.not-checkable label{
	font-weight:normal;
	cursor:default;
}

select:disabled{
	background-color: rgb(235, 235, 228);
}

.checkbox-container label.select-all-container{
	margin-bottom:15px;
}

input:disabled:hover{
	cursor:default;
}

.show-disabled label{
	cursor:default;
}