/* ****************************************************************************** */
/* Copied from here: */
/* https://www.w3schools.com/howto/howto_js_popup.asp */
/* ****************************************************************************** */

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

/* The actual popup (appears on top) */
.popup .popuptext {
/* 	display: none; */
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color: #5d5d5d;
    text-align: center;
    border-radius: 2px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    border: 1px solid #cacaca;
    box-shadow: 3px 3px 3px #cacaca;
}

/* Popup arrow */
.popup .popuptext:with-arrow::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: hidden;
  animation: 0s linear 0.5s forwards delayedShow ;
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}
	
	
	
	
	
	
	
	