.column{
	padding-top: 25px;
}
#rating-required h1{
	color: #ea0000;
    border-top: 2px solid #ce1a1a;
    border-bottom: 2px solid #ce1a1a;	
}
#rating-required .job-container{
	border: 0;
}
h1{
    width: auto;
    display: inline-block;
    padding: 10px 15px;
    /* background: #197994; */
    color: #197994;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    border-top: 2px solid #163b3d;
    border-bottom: 2px solid #163b3d;
}
.new{
	margin-left: 40px;
}
.new.filter-item label{
	width: 300px;
}
.new.filter-item label span.total{
	color: red;
}
.messages{
    margin: 10px 0px;	
    padding: 5px 20px;
    background: #ececec;
    box-shadow: 3px 3px 6px #cacaca;
}
.messages h6{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;	
}
.messages p{
	font-size: 15px;
    font-style: italic;
}
.editable:hover::after{
	font-family: "Glyphicons Halflings";
	content: "\270f";
    font-size: 16px;
    color: #bbb;
    margin-left: 10px;
/*     font-size: 20px; */
}
.editable::after{
/* 	    width: 30px; */
/*     height: 30px; */

}
.editable span{
	min-height: 40px;
/* 	line-height: 40px; */
}
#rating-required {
    width: 400px;
    padding: 5px;
    text-align: center;
    margin: auto;
    background: #f9d8d8;
    color: red;
    box-shadow: 3px 3px 3px #cacaca;
}
#required-ratings * {
	color: red;
}