h1{
    width: auto;
    display: inline-block;
    padding: 10px 15px;
    /* background: #197994; */
    color: #197994;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    border-top: 2px solid #163b3d;
    border-bottom: 2px solid #163b3d;
}
.new{
	margin-left: 8px;
}
.messages{
    margin: 10px 0px;	
    padding: 5px 20px;
    background: #ececec;
    box-shadow: 3px 3px 6px #cacaca;
}
.messages h6{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;	
}
.messages p{
	font-size: 15px;
    font-style: italic;
}
.editable:hover::after{
	font-family: "Glyphicons Halflings";
	content: "\270f";
    font-size: 16px;
    color: #bbb;
    margin-left: 10px;
/*     font-size: 20px; */
}
.editable::after{
/* 	    width: 30px; */
/*     height: 30px; */

}
.editable span{
	min-height: 40px;
	line-height: 40px;
}