.applicant{
	padding: 10px;
	box-shadow: 3px 3px 6px #cacaca; 
    background: #f7f7f7;
}
.applicant-container{
	border-bottom: 1px solid #cacaca;
	margin-bottom: 10px;
/* 	padding-bottom: 10px; */
/*     box-shadow: 3px 3px 6px #cacaca;	 */
}
.applicant-container:first-child{
	border-top: 1px solid #cacaca;
	padding-top: 10px;
}
.applicant-container:last-child{
	border-bottom: 0;
}
.applicant-or-employee{
    font-weight: bold;
    float: right;
}
.applicant-header{
	
}
.applicant-or-employee,
.favorite-flag{
	float: right;
	margin-right: 5px;
	margint-top: 10px;
}
.applicant .rating-container .star{
	font-size: 20px;'
}