.brief-details p{
	display: inline-block;
	font-size: 18px;
}
.action-options .glyphicon{
	float: right;
	color: #888;
	margin-left: 12px;
}
/* #jobs-list, #job-details{ */
/* 	display: inline-block; */
/* } */
.waiting-status{
	font-size: 23px;
}
.applicant-or-employee{
	font-size: 28px;
}
h1{
    width: 275px;
    background: #197994;
    color: #fff;
    padding: 15px;
    margin: 50px auto;
    text-align: center;
}
.application-details{
	padding-left: 45px;
}
.total{
/* 	background: #197994; */
	margin-left: 10px;
	color: #197994;
/* 	color: #163b3d; */
	font-weight: bold;
}
.action{
	color: #ea0010;
	font-weight: bold;
}
.new{
    /* background: #b70707; */
    margin-left: 5px;
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.total, .new{
	padding: 2px 8px;
/* 	color: #fff; */
    border-radius: 5px;
}
.total:hover, .new:hover{
	opacity: 0.7;
	cursor: pointer;
}
.show-hide-details{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.job-name{
    color: #197994;
    font-size: 25px;
    margin-bottom: 10px;
    display: inline-block;
}
.brief-details{
	padding-left: 30px;
	position: relative;
}
.job-container{
	width: 600px;
    padding: 10px;
    background: #f7f7f7;	
    margin: 0px auto 20px;
}
.see-full-details{
    position: absolute;
    right: 0;
    top: 50%;
    display: table;
    height: 40px;
    margin-top: -20px;    
}
.see-full-details span{
/*     display: table-cell; */
    vertical-align: middle;	
}
.see-full-details .glyphicon{
	font-size: 30px;
}
.see-full-details .text{
	font-size: 22px;
	margin-right: -4px;
}
.sub-items{
	padding-left: 30px;
}
.sort-and-filter-wrapper .item{
	margin-bottom: 10px;
}
.item.sort .glyphicon{
	margin: 0px -3px;
}