#personal-info-container,
#jobs-list{
	display: inline-block;
	vertical-align: top;
}
#jobs-list{
    width: 740px;
}
#personal-info-container{
	width: 400px;
}
.sort-proposals-wrapper{
	display: none;
}
.proposal-detail{
	margin-bottom: 2px;
}
.proposal-detail label{
	width: 340px;
}
.proposal-detail.new-wrapper label{
	width: 300px;
}
.proposal-detail.new-wrapper label span.total{
	color: red;
}
.proposal-detail.new-wrapper{
	padding-left: 40px;
}
.proposal-detail label span.total{
	float: right;
	font-weight: bold;
	color: #197994
}
.action-options{
	float: right;
}
.action-options .glyphicon{
	color: #888;
}
.job-container{
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-left: 50px;    
}
.job-container .job-name{
	margin-left: -25px;
    color: #163b3d;
    font-size: 19px;
}
.proposal-list{
	margin-top: 25px;
	display: none;
	margin-left: 32px;
}
