<?xml version="1.0" encoding="UTF-8"?>

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                      http://www.springframework.org/schema/util
                      http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <bean id="VelocityEngine" class="org.apache.velocity.app.VelocityEngine">
        <constructor-arg ref="VelocityEngine_Props" />
    </bean>

    <util:properties id="VelocityEngine_Props">
        <prop key="resource.loader">class</prop>
        <prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
        <prop key="class.resource.loader.cache">true</prop>
    </util:properties>
    
    
    
    
    
    
<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
  <property name="resourceLoaderPath" value="/WEB-INF/velocity/"/>
</bean>    

<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
  <property name="cache" value="true"/>
  <property name="prefix" value=""/>
  <property name="suffix" value=".vm"/>
</bean>


    <bean id="CategoriesVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/categories.vm" />
    </bean>
    
    <bean id="FilterJobsVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/filterJobs.vm" />
    </bean>    
    
    <bean id="FailedWageNegotiationsVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/failedWageNegotiations.vm" />
    </bean> 
    
    <bean id="FailedWageNegotiationsByJobVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/failedWageNegotiationsByJob.vm" />
    </bean>     
    
    <bean id="EmployerProfileJobTableVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/employerProfileJobTable.vm" />
    </bean>     
    
    <bean id="JobInformationVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/jobInformation.vm" />
    </bean> 
    
    <bean id="FindEmployeesResponseVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/findEmployeesResponse.vm" />
    </bean> 
    
    <bean id="EmployerJobsYetToStartVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/employerJobsYetToStart.vm" />
    </bean> 
    
     <bean id="EmployerJobsInProcessVM" factory-bean="VelocityEngine" factory-method="getTemplate">
    	<constructor-arg value="com/jobsearch/velocity/employerJobsInProcess.vm" />
    </bean>      

</beans>
