td.employment,
td.application{
	padding: 0px;
}
td .employment-line{
    height: 20px;
    background: #629a6f;
    margin-top: 8px;
    color: #fff;
    padding-left: 3px;
}
td .employment-line.first{
    margin-left: 13px;
}
td .employment-line.last{
    margin-right: 13px;
}
td div.application[data-job-name]:first-of-type{
	height: 50px;
/* 	background: #7389b3; */
	background: #b7c7e0;
	margin-top: 8px;
}
.calendar-container .calendar .ui-datepicker-group-middle td.active111:not(.ui-datepicker-today) a{
	color: #000  !important;
	background: #fff !important;
	
}
.job-line.hover{
	background: #163b3d !important;
}
tr .job-line.application-job,
#user-event-calendar .application-count span,
#user-event-calendar .calendar-container .calendar td.application,
#user-event-calendar .calendar-container .calendar .ui-datepicker-group-middle td.application a{
	background: #888;
}
tr .job-line.employment-job,
#user-event-calendar .calendar-container .calendar td.employment{
/* #user-event-calendar .calendar-container .calendar .ui-datepicker-group-middle td.employment a{ */
	background: #318657;
}
tr .job-line.application-job,
tr .job-line.employment-job{
    overflow: hidden;	
}
tr .job-line{
	color: #fff;
	padding-left: 15px;
	display: block;
	height: 20px;
}
tr .job-line:first-of-type{
	margin-top: 31px;
}
tr .job-line:not(:first-of-type){
	margin-top: 5px;
}

/* tr .employment-line-2.start-day-3.first{ */
/* 	margin-left: -440px; */
/* } */
/* tr .employment-line-2.start-day-3.first{ */
/* 	margin-left: -440px; */
/* } */
/* tr .employment-line-2.start-day-0{ */
/* 	margin-left: -780px; */
/* } */