.ui-datepicker-group-middle td{
    padding: 2px;
    vertical-align: top;
    text-align: center;
    height: 120px;
    width: 115px;
    border: 1px solid #e6e2e2;
}


.calendar-container .calendar td a{
    width: 100%;
    display: inline-block;
}

.start-and-end-times,
.application-count {
    color: #000;    
    padding: 2px;
    text-align: center;
    font-size: 13px;
}
td.application .application-count{
	border: 2px solid #7389b3;
}
td.employment .start-and-end-times{
	border: 2px solid #629a6f;
}

/* .calendar-container .calendar td.application{ */
/* 	background: #7389b3;	 */
/* } */
.calendar-container .calendar td.unavailable{
	background: #bbbbbb;
}
.application-count span,
.calendar-container .calendar td.application,
.calendar-container .calendar .ui-datepicker-group-middle td.application a{
	background: #7389b3;
	cursor: pointer;
}
.calendar-container .calendar td.employment,
.calendar-container .calendar .ui-datepicker-group-middle td.employment a{
	background: #629a6f;
	cursor: pointer;
}

.calendar-container .calendar .ui-datepicker-group-middle td.application,
.calendar-container .calendar .ui-datepicker-group-middle td.employment{
	background: #fff;
	cursor: pointer;
}
.calendar-container .calendar .ui-datepicker-middle td{
	background: #fff;
}

.ui-datepicker-group-first,
.ui-datepicker-group-last{
	font-size: 14px;
}
.ui-datepicker-header{
	border-bottom: 0;
	position: static
}
.ui-datepicker{
	position: relative;
}
.ui-datepicker-next{
	right: 355px
}
.ui-datepicker-prev{
	left: 335px
}
.ui-datepicker-next,
.ui-datepicker-prev{
	font-size: 18px;
	font-weight: bold;
	color: #197994;
	top: -300px;
}
.ui-datepicker-group-middle .ui-datepicker-title{
	font-size:22px;
}
.ui-datepicker-title{
    font-weight: bold;
    color: #163b3d;
}
.start-and-end-times p {
    margin: 2px;
}

.calendar .ui-datepicker-group {
	padding: 10px;
}
.calendar .ui-datepicker-group{
	border: 2px solid #fff;
}
.calendar .ui-datepicker-group:not(.ui-datepicker-group-middle):hover{
	background: #f8ffe3;
	border: 2px solid #bbbbbb;
	cursor: pointer;
}
.application-count span{
    display: inline-block;
    /* margin: auto; */
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-top: 12px;
    margin-bottom: 10px;
    padding-left: 1px;
    color: #fff;
    border-radius: 10px;
    /* text-align: center; */
    /* vertical-align: middle; */
}

.popup{
	top: -78px;	
}


td.application-hover .application-count{
	background: #ccd8f5 !important;
}


#event-calendar-mod .mod-content {
	top: 20px;
    width: 1500px;
    /* height: 420px; */
    /* margin: -210px 0 0 -200px; */
    margin-left: -750px;    
}

.popuptext p{
	margin: 0;
	padding: 5px;
}
.popuptext p:hover{
	background: #e4e4e4;
}


#event-calendar-mod .ui-datepicker-today{
	background: #cacaca;
}
#event-calendar-mod{
	display: block;
}
#event-calendar-mod .mod-header{
	background: #f4f4f4;
}
#event-calendar-mod .ui-datepicker-group-first,
#event-calendar-mod .ui-datepicker-group-last{
	position: absolute;
	top: 300px;
}
#event-calendar-mod .ui-datepicker-group-middle{
	margin-left: 300px;
}