input,
button{	
	margin: 3px;
}
button{
	width: 30px;
	height: 30px;
	text-align: center;
	background:#fbf8f8;
	border: 1px solid #cacaca;	
}
input{
	width: 96px;
	height: 23px;
	text-align: right;
	padding: 1px 5px;
}
#container{
    position: absolute;
    width: 200px;
    height: 450px;
    top: 50%;    
    left: 50%;
    margin-left: -100px;
    margin-top: -225px;
}
.operator.selected{
	background: #197994;
	color: #fff;
}
#history{
	white-space: nowrap;
}