#calendar td,
.calendar-single-date td{
	border-radius:4px;
	text-align:center;
}
#calendar td a:hover,
.calendar-single-date td a:hover{
	text-decoration: none;
	color:#000000;	
}

td.active111,
td.active111{
	background-color: #25705A;
}

td.active111 a{
	color: #ffffff;
}

#calendar{
	width:100%;
}

#calendar .ui-datepicker-multi{
	width:100% !important;
}
