.calendar-container td,
.calendar-single-date td{
	border-radius:4px;
	text-align:center;
	cursor:pointer;
}
.calendar-container td a:hover,
.calendar-single-date td a:hover{
	text-decoration: none;
	color:#000000;
}

/* .calendar-container.read-only td:not(.active111) a:hover{ */
/* 	color:#000000; */
/* } */

td.active111,
td.active111{
	background-color: #25705A;
	border-radius:4px;
}

td.active111 a:hover{
	color: #ffffff; 
}

td.active111 a{
	color: #ffffff; 
}

#calendar{
	width:100%;
	padding:10px;
}

.calendar-container .ui-datepicker-multi{
	width:100% !important;
}


.calendar-container.read-only td{
	cursor:default !important;
}

.calendar-container.read-only td a:hover{
	cursor:default !important;
}