.category-list-down-arrow{
	margin: 0px 10px 10px 10px; 
}

.category-list-item{
	width: 100%; 
}


.category-list-container{
	width: 500px;
/* 	margin: 0px 0px 0px 25px; */
}

#container{
	position: relative;
	width: 750px;
	height: 500px;
}