/* .ui-datepicker-prev, .ui-datepicker-next{ */
/* 	cursor:pointer; */
/* 	padding:3px 5px; */
/* } */

.ui-datepicker-prev:hover, .ui-datepicker-next:hover{
	text-decoration:none;
	color:#000000;
}

.ui-datepicker-calendar td{
	padding:2px 6px;
}

.ui-datepicker-unselectable{
	color:rgb(192,192,192);
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -4px;
    padding: 5px;
    cursor: pointer;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
 
.ui-datepicker-title { text-align: center; }
 
.ui-datepicker-month {
    position: relative;
	padding-left:7px;
/*     color: #565656; */
}
 
.ui-datepicker-year {
    padding-right:7px;
    
/*     color: #a8a8a8; */
}

.ui-datepicker-group{
	display:inline-block;
    padding: 0px 20px;
}

.ui-datepicker-calendar{
	margin: auto;
}

