table td{
	padding:10px 5px;
}

table th{
	padding:0px 10px;
}


.section{
	padding:25px 0px;
}

.updating{
	background-color:#337ab7;
}
.table-container{
	padding-left:25px;
}

a{
	cursor:pointer;
}


#saveButtonContainer{
    padding: 30px 25px;
}

#availableDays{
	display:none;
}

#openApplications{
	width:600px;
}

#completedJobs{
	width:400px;
}

#activeJobs{
	width:600px;
}