.header{
	padding:10px 0px;
}

.body{
	padding:10px 0px;
}

.bold{
	font-weight: bold;
}

.description{
	padding:10px 0px;
}

.job-info-container{
	border-top-style: inset;
}

/* #amountContainer{ */
/* 	padding-bottom:10px; */
/* } */

#applyContainer span{
	padding-right:5px;
}

#applyContainer input{
	margin-right:5px;
	
/* 	override bootstrap */
	display:inline;
	width:100px;
}

.questions-container{
	margin-left:50px;
}


.row-padding{
	padding:10px 0px;
}

.questions-header{
	border-top-style: inset;
}


.answer{
	padding-left:10px;
}

.question{
	padding:5px 0px;
	border-bottom: 2px outset #F0F0F0;
}

/* To be consistent with bootstrap's .radio and .checkbox classes */
.textarea{
	margin-top:10px;
	margin-bottom:10px;
}

#jobActionContainer button{
    border: 1px solid rgb(192,192,192);
    display: inline-block;
    padding: 10px;
    font-size: 14px;
/*     float: right;	 */
    background-color:#ffffff;
}


#jobActionContainer button:hover{
	background-color:#163B3D;
	color:#ffffff;
}

.job-sub-info-container input:disabled, .job-sub-info-container textarea:disabled{
	cursor:default;
}

#viewJobContainer{
	padding-bottom:60px;
}


#map{
	height:400px;
	width:400px;
	margin-top:10px;
    border-right-style: inset;
    border-bottom-style: inset;
    border-top-style: outset;
    border-left-style: outset;
}
/* #jobActionContainer button:last-child{ */

/*     border-left-width: 0; */
/* } */

/* #jobActionContainer{ */
/* 	padding-left:50px; */
/* } */