.question-container{
	padding:10px 0px;
}

#applicantsTable .question{
	font-style: italic;
	font-weight:bold;
}

#applicantsTable .answer{
	padding-left:25px;
	padding-top:3px;
}
    

.answer-container{
	padding-left:25px;	
}

/* In order for the map the render, the map container */
/* has to be shown. */
/* If it is desired for the job info to be hidden on page load, */
/* it might have to be hidden after the map is rendered, */
/* not with css */
#jobInfoContainer{
	display:inline-block;
}



.question-format{
	padding:5px 0px;
}

#questionsContainer{
	display:none;
}


#applicantsTable{
	width:100%;
}

#employeesTable{
	width:400px;
}

#applicantName{
	width:10%;
}

#rating{
	width:10%;
}

#endorsements{
	width:15%;
}


#questions{
	width:30%;
	
}

#wageNegotiation{
	width:20%;
}

#status{
	width:15%;
}

#selectQuestionsOK,
#selectStatusOK{
/* 	margin:7px 0px; */
	cursor:pointer;
	padding:5px;
	font-size:20px;
}



#selectQuestionsContainer,
#selectStatusContainer{
	position:absolute;
	z-index:1000;
	background-color:#ffffff;
	
	height:auto;
	padding:0px 25px;
	display:none;
	border: 5px groove #F0F0F0;
}

#selectQuestionsContainer{
	max-width:400px;
}

/* #selectStatusContainer{ */
/* 	width:200px; */
/* } */

.question-format{
	padding-
}


.application-status-container button{
	border: 0;
	padding: 4px 10px;
	display:block;
	margin:3px 0px;
	width:75px;
}
.active{
    background-color: #337ab7;
    color: #ffffff;
}
