
#jobAddress:hover{
	text-decoration: underline;
	cursor:pointer;
}

.container{
	padding-top:30px;
}

#jobInfoContainer{
	display:block;
}

#questionsContainer .answer-options-container{
/* 	padding-left:25px; */
}

.answer-option .glyphicon{
	font-size:11px;
	padding-right:8px;
	
}

.answer-option{
	padding:3px 0px;
}

.answer-container .help{
	font-style: italic;
    font-size: 14px;
    padding-bottom: 5px;
}

.checkbox{
	margin-top:0px;
}

.section-container .info-container:first-child{
	padding-top:0px;
}

.questions-container .info-container{
	padding:15px 0px;
}

#submitApplicationContainer a{
	font-size:18px;
}