table td{
<<<<<<< HEAD
	padding:10px 5px;
=======
	padding:10px 10px;
>>>>>>> master
}

table th{
	padding:0px 10px;
}


<<<<<<< HEAD
.table-container{
	padding-top:25px;
=======
.section{
	padding:25px 0px;
}

.table-container{
	padding-left:25px;
>>>>>>> master
}

a{
	cursor:pointer;
<<<<<<< HEAD
=======
}




#saveButtonContainer{
    padding: 30px 25px;
}

#availableDays{
	display:none;
>>>>>>> master
}