.answer-options-container{
	display:none;
	padding-left:40px;
}

#map{
	height:400px;
	width:400px;
	margin-top:10px;
    border-right-style: inset;
    border-bottom-style: inset;
    border-top-style: outset;
    border-left-style: outset;
}

#calendar{
	width:200px !important;
/* 	cursor:default !important; */
	min-height:200px;
}

/* #calendar td, */
.ui-datepicker-calendar a{
	cursor:default !important;
}

.answer-option{
	cursor:pointer;
	padding:4px 3px;
	display:inline-block;
	margin:1px 0px;
}

.selected{
	background-color: #337ab7;
	color:#ffffff;
}

#apply{
	margin-top: 10px;
	padding:7px 13px;
    background-color: #337ab7;
    color: #ffffff;
    border:0;
    font-size:16px;
}

#amount{
	width:100px;
}

#questionsContainer{
	padding-top:0px;
}

/* Override bootstrap */
.radio{
	margin-top:0px;
}
.radio:last-child{
	margin-bottom:0px;
}
.answer-container{
	padding-top:7px;
	padding-left:45px;
}

.question-container{
	margin: 10px 0px;
	padding:20px 4px;
/* 	border-bottom: 2px solid buttonface; */
}