.job-category-container{
	display:inline;
	
}

.job-container{
	
}

.job-name{	
	font-size:15px;
	font-weight:bold;
	cursor:pointer;
}

.job-header{
	margin:0px 0px 5px 0px;
	
}

.job-body{
	margin:0px 10px 5px 10px;
	
}

.bold{
	font-weight:bold;
}

.job-footer{
	margin:0px 10px 10px 0px;
	border-bottom: 2px outset rgb(238, 238, 238);
}

#jobContainerTemplate{
/* 	display:none;	 */
}

.less-description{
	height:60px;
	overflow: hidden;
}

.more-description{
	overflow:auto;
/* 	overflow-x:hidden; */
}

.exceeds-max-description{
	height:180px;
}

.show-more-less{
	margin:5px 0px 5px 10px;
	font-size:12px;
	cursor:pointer;
}

#requestOrigin{
	display:none;
}