#city {
    width: 150px;
}

#radius, #state, #zipCode {
    width: 95px;
}

.selected-job{
	border:3px #163B3D solid !important;
	border-radius:10px;
}

.container{
	width:100%;
	padding:0px 25px 50px 25px;
}

#distance input {
    display: inline;
    overflow: hidden;
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px;
    height: auto;
}
.note{
	padding: 20px;
}
#filterContainer .col-sm-4{
	padding: 0px 2px 4px 2px;
}

#filteredJobs{
	overflow-y:auto;
/* 	max-height:915px; */
	height:1000px;
}

.glyphicon-move{
	float:right;
	cursor:pointer;
	font-size:16px;
}

.row{
	padding:0px 0px;
    margin: 0px;
}
.dropdown-container{
	padding:10px;  
    width: 230px;
    border: 1px solid rgb(192,192,192);
/*     line-height: 40px; */

}

#map{
	width:auto;
	margin-left:5px;
/* 	height:auto; */
	height:1000px;	
}

#map, #filteredJobs{
	border-right-style:outset;
	border-bottom-style:inset;
	border-top-style:inset;
	border-left-style:outset;
}

.glyphicon-remove{
	cursor:pointer;
}
/* Override Boostrap */
.dropdown-container .glyphicon{
	line-height:inherit;
}

.input-container input{
	border: 1px solid #ccc;
}

/* .radio-container, */
/* .filter-value-container{ */
/* 	padding:5px; */
/* } */

div[data-scroll-to]{
	cursor:pointer;
}

.radio-container{
	margin-bottom:10px;
}

.input-container{
	display:inline-block;
}


#milesFromContainer{
	padding:0px 10px;
}

.filter-container{
	position:relative;
	width: 230px;
	
}

.remove-filter{
	width:15px;
	float:left;
	display:none;
}

.trigger-dropdown{
	cursor: pointer;
	width:100%;
}

.dropdown-container div{
/* 	display:inline-block; */
/* 	position:relative; */
}

#distance{
	margin: auto;
    width: 600px;
    display: block;
}

.dropdown{
	position:absolute;
	z-index: 1000;
    border: 3px solid rgb(192,192,192);
    padding: 10px 20px;
    background-color: #ffffff;
	width:100%;
	display:none;
}

.trigger-dropdown .glyphicon-menu-up,
.trigger-dropdown .glyphicon-menu-down{
	float: right;
}

.glyphicon-ok{
    padding: 10px 0px;
    font-size: 17px;
    cursor: pointer;
}

.filter-text{
    padding: 0px 3px;
    font-size: 16px;
}


#work-days-dropdown{
	width:520px;
}

#distanceContainer{
	padding:25px 12px;
/*     width: 700px; */
    margin:auto;
}

#additionalFiltersContainer{
	width:702px;
	margin:auto;
}

#getJobsContainer{
    margin: auto;
    width: 100px;
    padding: 10px 0px;
}

#getJobs{
	padding: 13px 20px;
	font-size:16px;
	width:110px;
}

#locationContainer{
	display:inline-block;
}

#mainBottom{
	padding-top:25px;
	display:none;
}

.job-header,
.job-body,
.job-footer{
	padding: 0px 20px 15px 20px;
}

.show-more-less{
	padding-bottom:10px;
}

.bold{
	font-weight:bold;
}

.less-description{
	height:60px;
	overflow: hidden;
}

.more-description{
	overflow:scroll;
	max-height:180px;
	overflow-x:hidden;
}

.show-more-less{
    padding: 5px;
	font-size:12px;
	cursor:pointer;
}

.job{
	padding-top: 10px;
	border-bottom: 1px solid gray;    
}

.job:last-child{
	border-bottom:0;
}