body{
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height:19.5px;
}

.input-container{	
	display:inline-block;
	vertical-align: middle;
}

.toggle-dropdown-container{
	display:inline-block;
}

.toggle-dropdown{
	display:inline;
}

.input-container-group{	
	display:inline-block;
	padding:0px 10px 0px 10px;
	vertical-align: top;
}

.right-border{
	border-right-style:outset;
	border-bottom-style:inset;
	border-top-style:inset;
	border-left-style:outset;
}

.input-container-group-test{	
	float:left;
	display:inline-block;
}

.dropdown-input-container{
	position:relative;	
	border: 1px solid rgb(192,192,192);	 
}

.sort-jobs-by-container{
	padding:10px 10px 25px 10px;
}

.input-width{
	width:230px;
}

.page-container{
	width:90%;
	margin:auto;
	padding-bottom:30px;
}

.dropdown-input-label{
	padding:10px;
	cursor:pointer;
}

/* Override Bootstrap */
.col-padding{
	padding:0px 2px 4px 2px;
}

/* Override Bootstrap */
.row-margin-override{
	margin:0px
}

.approve-additional-filter{
	font-size:18px;
	padding:10px 0px 0px 0px;
	cursor:pointer;
}

.remove-additional-filter{
	display:none;
}

.dropdown-input-icon{
	display:inline;
	float:right;
}


.dropdown-input-selection-container{
	padding:0px 10px 10px 10px;
	z-index:1000;
	position:absolute;
	left:-1px;
	background-color:#ffffff;
	border: 1px solid rgb(192,192,192);	
	display:none;
}

.selected{
	background-color:#F6C627
}

.remove-additional-filter{
	padding-right:5px;
}

#distanceFilter input{
	display:inline;
/* 	max-width: 120px; */
	overflow: hidden;
	border-radius: 0 !important;
	padding: 10px 10px 10px 10px;
	height:auto;
/* 	width:auto; */
/* 	vertical-align:top; */
}

#mainBottom{
/* 	position:relative; */
/* 	top:220px; */
	display:none;
	height:1000px;
	padding-top:20px;
}

#additionalFiltersContainer{
	margin:auto;
	width:725px;
	display:block;
	padding-top:20px;
}

#getJobs{
	background-color:#163B3D;
	color: #ffffff;
	border-radius: 0 !important;
	height:42px;
	padding:5px 15px;
}

#getJobsContainer{
	margin: auto;
    width: 100px;
    display: block;
    padding-top:20px;
	
}

#radius, #state, #zipCode{
	width:95px;
}

#city{
	width:150px;
}

#distanceFilter{
	margin: auto;
    width: 600px;
    display:block;
}

#distanceFilterContainer{
	padding-top:20px;
/* 	position:fixed; */
/* 	z-index:1000; */
/* 	background-color:#ffffff; */

}

#map{
	width:auto;
/* 	height:auto; */
	height:1000px;	
}
