#location #miles,
#location #city,
#location #street{
	width: 150px;
}

#location #state,
#location #zipCode{
	width: 100px
}

#filtersContainer input,
#filtersContainer select{
    padding: 10px 10px;
    border-radius: 1px;
    border: 1px solid #c8c5c5;
}

#filtersContainer .filter{
	padding-bottom: 20px;
}

#filtersContainer .filter-value{
	padding-left: 60px;
}

h3{
	color: #197994;
	font-size: 20px;
}

#filtersContainer{
	border-bottom: 1px solid #cacaca;
}

#resultsContainer{
	display: none;
}