.selected-blue{
    background-color: #337ab7;
    color: #ffffff;
}

.selected-green{
    background-color: #163b3d !important;
    color: #ffffff !important;
    outline: none;
}

input, select, textarea{
	padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #c8c5c5;	
}

.square-button,
.sqr-btn{
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #bbbbbb;
    padding:5px 10px;
}

.button-group button{
    border-radius: 0;
    border: 1px solid rgb(192,192,192);
    padding:5px 10px;	
    background: #ffffff;
}


.accent{
    font-size: 15px;
    font-weight: bold;
/*     color: #5B7BA3; */
	color:#6d8aaf;
/*     color:#24599a; */
    cursor:pointer;
    letter-spacing: 0.5px;
}

a.accent.no-hover:hover{
	text-decoration: none;
	color: #5B7BA3;
}

.accent.disabled{
	color:#656c71;
	
	cursor:default;
    font-weight: normal;
}

span.dollar-sign{
    margin-right: 3px;
}

/* span.accent{ */
/*     color: #337ab7; */
/*     font-size: 15px; */
/*     font-weight: bold; */
/* } */


.dropdown-container{
	position: relative;
}

.dropdown-style{
	position:absolute;
	background-color:#ffffff;
	z-index: 10000;
	display:none;
	border: 2px solid #163b3d;
	border-radius:3px;
	padding:20px;
}

.show-disabled{
	background-color: rgb(235, 235, 228);
    border: 2px solid rgb(200, 197, 197);
    color: #8a8181;
}


span.glyphicon-menu-up, 
span.glyphicon-menu-down{ 
	margin: 0px 5px;
	padding: 0px 5px;
	color: #adadad;
}