.mock-anchor{
    color: #5B7BA3;
    cursor:pointer;
    font-size: 15px;    
}

.test111 a{
	color: red;
}

.bottom-border-thin{
	border-bottom: 2px outset #F0F0F0;
}

.top-border-thin{
	border-top: 2px outset #F0F0F0;
}

.bottom-border-thinner{
	border-bottom: 1px outset #F0F0F0;
}

.full-border-thick{
	border: 5px groove #F0F0F0;
}

.block{
	display:block;
}

.square-button-green{
	background-color: #163B3D;
	color:#ffffff;	
	border-radius: 0;
    border: 1px solid rgb(192,192,192);
}

.square-button{
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(192,192,192);
}

.square-button:hover{
	background-color: #163B3D;
	color:#ffffff;
}

/* Cannot use "hide". Bootstrap has hide class which is marked !important...*/

.hide-element{
	display:none;
}

.show-block{
	display:block;
}


a.accent{
    font-size: 15px;
    font-weight: bold;
    color: #5B7BA3;
}


html {
  overflow-y: scroll;
}


.static-row{
	 border-top: 1px solid #ddd;
}

.static-row:first-child{
	 border-top: 2px solid #ddd;
}

.header-text{
	font-size:24px;
}

.glyphicon-menu-up, .glyphicon-menu-down{
	cursor:pointer;
}









.border{
	border: 5px solid red;
}

.border-blue{
	border: 5px solid blue;
}

.border-black{
	border: 5px solid black;
}
        
.co_jobCategory{
	list-style-type: none;
}

#employerMenu{
	position: relative;
/* 	left: 15px; */
/* 	right: -15px; */
	margin: 10px 10px 10px 10px;
}

.page-container{
	position: relative;
/* 	left: 25px; */
	margin: 35px 0px 50px 0px;
}

.color-panel{
	background-color: #fffef4;
}

.find-jobs-job-count{
	margin: 5px 5px 5px 5px;
	height: 30px;
}

.find-jobs-sub-job-count{
	margin: 5px 5px 5px 5px;
	height: 30px;
}

.job-location-label{
	width: 125px;
}

.job-location-container{
	width: 100%;
}

.selected-category{
	margin-left: 10px;
	margin-bottom: 10px;
}

#filterJobTable tr:hover{
	 cursor:pointer;
}

#createAccount{
	cursor:pointer;	
}


.post-job-input{
	width: 200px;
	display: block;
}

.added-question{
	margin-top: 10px;
/* 	border-bottom-style: outset; */
	border-top-style: inset;
	padding-bottom: 5px;
	padding-top: 5px;
}

.job-sub-info-container{
	border-top-style: inset;
	
}

.job-sub-info{
	margin-left: 30px;
}

.job-info-label{
/* 	width: 125px; */
/* 	display: block; */
}

.job-info-element-container{
	margin-bottom: 5px;
}

.post-job-openings{
	height: 30px;
}

/* #jobInfoContainer{ */
/* /*     position:absolute; */ */
/* /*     top: 235px; */ */
/*     left:0px; */
/*     right:0px; */
/*     bottom:0px; */
/*     overflow-y:scroll;         */

/* } */

.select-codyhouse{
	font-family: "Open Sans", sans-serif;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
        cursor: pointer;
    font-size: 1.4rem;
        width: 100%;
    padding: .8em;
    -webkit-appearance: none;
        box-shadow: none;
        -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
                text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}


/* .post-job-container{ */
/* 	position: relative; */
/* 	left: 25px; */
/* 	margin: 35px 0px 50px 0px; */
/* } */

.post-job-description{
	width: 500px;
}

#jobCartContainer button{
	border: 2px solid #909090;
}

#addedJobs button{
	border: 2px solid #909090;
}

.post-job-label{
/* 	width: 125px; */
	display: block;
}


textarea {
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: left; /* Firefox 12+ */
    text-align-last: left;
    resize: none
}

.job-options {
	margin-bottom: 10px;
}

.job-info{
	margin-top: 10px;
}

.hide-table-column{
	display: none;
}

li.disabled {
    pointer-events:none; 
    opacity:0.6;        
}