.border{
	border: 5px solid red;
}

.border-blue{
	border: 5px solid blue;
}

.border-black{
	border: 5px solid black;
}
        
.co_jobCategory{
	list-style-type: none;
}

#employerMenu{
	position: relative;
/* 	left: 15px; */
/* 	right: -15px; */
	margin: 10px 10px 10px 10px;
}

.page-container{
	position: relative;
/* 	left: 25px; */
	margin: 35px 0px 50px 0px;
}

.color-panel{
	background-color: #fffef4;
}

.find-jobs-job-count{
	margin: 5px 5px 5px 5px;
	height: 30px;
}

.find-jobs-sub-job-count{
	margin: 5px 5px 5px 5px;
	height: 30px;
}

.job-location-label{
	width: 125px;
}

.job-location-container{
	width: 100%;
}

.selected-category{
	margin-left: 10px;
	margin-bottom: 10px;
}

#filterJobTable tr:hover{
	 cursor:pointer;
}

#createAccount{
	cursor:pointer;	
}


.post-job-input{
	width: 200px;
}

.post-job-openings{
	height: 30px;
}

/* .post-job-container{ */
/* 	position: relative; */
/* 	left: 25px; */
/* 	margin: 35px 0px 50px 0px; */
/* } */

.post-job-description{
	width: 500px;
}


.post-job-label{
	width: 125px;
}


textarea {
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: left; /* Firefox 12+ */
    text-align-last: left;
}

.job-options {
	margin-bottom: 10px;
}

.job-info{
	margin-top: 10px;
}

.hide-table-column{
	display: none;
}