.selected-blue{
    background-color: #337ab7;
    color: #ffffff;
}

.pad-top{
	padding-top: 25px;
}
.linky-hover:hover{
	text-decoration: underline;
	cursor: pointer;
}

.selected-green{
    background-color: #163b3d !important;
    color: #ffffff !important;
    outline: none;
}

input, select, textarea{
	padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #c8c5c5;	
}

.square-button,
.sqr-btn{
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #bbbbbb;
    padding:5px 10px;
}

.sqr-btn.teal{
	padding: 15px 20px;
	color: #ffffff;
	background: #197994;
	font-size: 19px;
	margin: 0px 20px;
	font-weight: normal;
}

.sqr-btn.gray-2{
    font-size: 16px;
    color: #163b3d;
    cursor: pointer;
    margin: 0px 7px;
    border: 2px solid#bbbbbb;
    padding: 2px 10px;
    background: #f4f4f4;
}

.sqr-btn.teal.sm{
	padding: 9px 13px;
	font-size: 16px;
}

.sqr-btn.gray.sm{
	padding: 9px 13px;
	font-size: 16px;
}

.sqr-btn.gray{
	padding: 15px 20px;
	color: #000000;
	background: #f4f4f4;
	font-size: 19px;
	margin: 0px 20px;
	font-weight: normal;
}

.sqr-btn.green{
	padding: 10px 25px;
	color: #ffffff;
	background: #163b3d;
	font-size: 18px;
	margin: 0px 20px;
}

.button-group button{
    border-radius: 0;
    border: 1px solid rgb(192,192,192);
    padding:5px 10px;	
    background: #ffffff;
}


.accent{
    font-size: 15px;
    font-weight: bold;
/*     color: #5B7BA3; */
	color:#6d8aaf;
/*     color:#24599a; */
    cursor:pointer;
    letter-spacing: 0.5px;
}

a.accent.no-hover:hover{
	text-decoration: none;
	color: #5B7BA3;
}

.accent.disabled{
	color:#656c71;
	
	cursor:default;
    font-weight: normal;
}

span.dollar-sign{
    margin-right: 3px;
}

/* span.accent{ */
/*     color: #337ab7; */
/*     font-size: 15px; */
/*     font-weight: bold; */
/* } */


.dropdown-container{
	position: relative;
}

.dropdown-style{
	position:absolute;
	background-color:#ffffff;
	z-index: 10000;
	display:none;
	border: 2px solid #dedede;
	border-radius:3px;
	padding:20px;
}

.show-disabled{
	background-color: rgb(235, 235, 228);
    border: 2px solid rgb(200, 197, 197);
    color: #8a8181;
}


span.glyphicon-menu-up, 
span.glyphicon-menu-down{ 
	margin: 0px 5px;
	padding: 0px 5px;
	color: #adadad;
	font-size: 12px;
}

.glyphicon{
	cursor: pointer;
}

[data-toggle-id]{
	cursor: pointer;
}

div.work-day-dtos{
	display: none;
}