.invalid{
/* 	border: 3px solid #b30000 !important; */
	border: 3px solid red !important;
}
.invalid-input-message-wrapper.visible .add-invalid-input-message:after,
.invalid-input-message{
	color: red;
	display: none;
	font-weight: bold;
	text-align: center;
}
.invalid-input-message-wrapper.visible .add-invalid-input-message:after{
	content: 'Invalid input';
	height: 3em;
	position: absolute;
	bottom: 0;
	display: inline-block;
}
.add-invalid-input-message{
    position: relative;
    height: 122px;
    width: 100px;
}