.invalid-input-existence{
	border: 5px solid #b30000;
}

.invalid-select-input{
	border: 5px solid #b30000;
}

.invalid-message{
	color: #b30000;
	margin-bottom: 5px;
	display: none;
}

/* .valid-input-existence{ */
/* 	border: 0px solid #b30000; */
/* } */