.invalid{
	border: 5px solid #b30000 !important;
}

.invalid-select-input{
	border: 5px solid #b30000;
}

.invalid-message{
	color: #b30000;
	margin-bottom: 5px;
	display: none;
}

/* .valid-input-existence{ */
/* 	border: 0px solid #b30000; */
/* } */

#invalidJobName{
	margin-left: 95px;
}


.error-message{
	display:none;
	color:#b30000;
}

.error-message-container{
	padding:5px 0px;
}