#apply_selectWorkDays td.apply-selected-work-day{
	background: #163b3d !important;
}

#workDaysCalendar{
	width:600px;
    margin-top: 20px;
}

#contentBarContainer{
/* 	padding-bottom:25px; */
   	padding-top: 40px;
}

#map{
    width: 350px;
    height: 350px;
    margin-top: 10px;
    border-right-style: inset;
    border-bottom-style: inset;
    border-top-style: outset;
    border-left-style: outset;
}

.selected-lines{
    border-bottom: 2px solid #163b3d;
    border-top: 2px solid #163b3d;
    /* border-bottom-right-radius: 10px; */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
}


#contentBarContainer p{
    font-size: 19px;
    text-align: center;
    padding: 3px 15px;
	display:inline-block;
}

#jobNameHeader{
	display:none;
	text-align: center;
/*     background-color: #91843b; */
/*     color: white; */
    font-size: 31px;
    font-style: italic;
    line-height:50px;
    color: #337ab7;
    background-color: white;   
/*     background-color: #337ab7; */
/*     color: white; */
    border-radius: 5px;
    padding:8px 0px 13px 0px;
    margin-top:15px;
}

#jobNameHeader h3{
	
    font-size: 31px;
}

.content-bar{
	cursor:pointer;
}

table#employeesTable{
	margin:auto;
}

.header-container .glyphicon{
	margin: 0px 15px;
   	font-size: 8px;
}

.no-data{
	text-align:center;
}

.section-container{
/*     border-top: 4px solid #ddd; */
/*     border-top-left-radius: 30px; */
/*     border-top-right-radius: 30px; */
/*     padding-top: 20px; */

}

tbody.vertical-lines td div.vert-border{
	    border-right: 2px solid #ddd;
}


#workDaysCalendar .ui-datepicker .ui-datepicker-group{
	width:300px;
}


#workDaysCalendar .ui-datepicker{
	width:300px;
}


/* /*  Single calendar */ */
/* #workDaysCalendar .ui-datepicker-inline :not(.ui-datepicker-group){ */
/* 	width:300px; */
/* }  */