.container{
	padding-bottom:50px;
}

.section{
/*     padding: 25px 0px; */
    
}

.header-text{
	font-size:20px;
}

.header .glyphicon,
.header2 .glyphicon{
	font-size:17px;
	padding:5px;	
} 

[data-toggle-id]{
	cursor:pointer;
}

.header2{
	border-bottom: 2px outset #F0F0F0;
	padding-bottom:10px;
}

.sub-header-toggle{
	padding:5px;
}

.header{
	height:40px;
/* 	border-bottom: 2px outset #F0F0F0; */
}

.section-body{
/* 	padding-left:50px; */
/* 	padding-top:15px; */
}

.section-body h4{
/*     border-top: 1px inset #F0F0F0; */
    padding-top: 13px;
}

.body-element-container{
	padding-left:40px;	
	padding-bottom:10px;
	padding-top: 5px;
}

.body-element{
	padding-bottom:10px;
}

.header .glyphicon{
	margin-right:5px;
	font-size:17px;
	padding:5px;
}


.sub-header .glyphicon{
/* 	margin-right:5px; */
	font-size:14px;
	padding:5px;
}

.sub-header h4{
	display:inline-block;
}


#sideBarContainer{
	padding-top:25px;
}

.side-bar:first-child{
	margin-top:0px;
}
.side-bar{
	cursor:pointer;
	padding:10px;
	border: 1px solid rgb(192,192,192);
/* 	border: 2px solid #337ab7; */
	margin: 5px 0px;
	width:155px;
/* 	border-bottom:0; */
    font-size: 16px;
    overflow:hidden;

}

#nextContainer{
	display:block !important;
}

#next{
	float:right;
}


.header-container {
	margin: 0 auto;
    /* width: 50%; */
    text-align: center;
/*     margin-top: -20px; */
}

    

#sectionContainers{
    padding-top: 30px;
}

#tempRow1{
	    margin-top: 20px;
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
}



.section-container h4{
	font-size:22px;
	text-align: center;
	padding:20px;
	display:inline-block;
}

.info-label{
	display:inline-block;
	width:150px;
	vertical-align:top;
	font-weight:bold;
	font-size:17px;
/*     border-bottom: 2px solid #337ab7; */
	border-bottom: 3px solid #90aec7;
    margin-right:50px;
    padding-bottom:10px;
}



.info-value{
	display:inline-block;
/* 	font-size:16px;	 */
}

.info-container{
	padding: 15px 0px;
	font-size:16px;
}

.section-container.first{
	display:block;
}

