
#loginContainer,
#signUpContainer  {
	width:530px;
}


.group-container{
	padding:20px 0px;
}

.group{
	margin:0 auto;
    padding-top: 15px;	
}

.do-hide{
/* 	display:none; */
}

h3{
    color: #197994;
}
.no-label{
	margin-left: 217px;
}
.a-header h3{
    line-height:40px;
}

.group .item{
	padding:8px 0px;
}

.item > label{
	width:210px;
/* 	text-align:right; */
	padding-right:10px;
}
#signup-profiles,
.group input[type=text],
.group input[type=password],
.group input[type=email]{
	width:275px;
}
input[type="submit"]{
	background: #197994;
	color: #fff;
}
#loginContainer .checkboxLabel{
	text-align:left;
	width:225px;
}

.checkboxLabel{
    font-weight: 100;
}

#loginContainer .checkbox{
	margin:0px;
	padding-bottom:5px;
}

.forgot-password{
	padding-top:5px;
}

.input-container{
	display: inline-block;
}

.group .error-message{
	text-align: right;
	padding-bottom: 8px;
	margin-top: -4px;
    padding-right: 10px;
}

.error-message.do-show{
	display:inline-block;
}

#verifyEmail{
	display: none;
}