#login-sign-up-mod{
	z-index: 1000;
}
#successful-sign-up h4{
    font-weight: bold;
    font-size: 20px;
    color: #163b3d;
}
#sign-up-fail{
	text-align: left;
}
#login-sign-up-mod .mod-content{
	width: 800px;
	margin: auto;
	margin-left: -400px;
	top: 100px;
}
#login-sign-up-context{
	text-align: center;
	margin-bottom: 30px;
}
#login-sign-up-context span.context-item{
	font-size: 22px;
	color: #197994;
	margin: 0px 10px;
}
#successful-sign-up,
.sign-up-fail-msg,
.error-message{
	display: none;
}
.do-hide{
/* 	display:none; */
}
#login-sign-up-context span.context-item:hover{
	cursor: pointer
}
#login-sign-up-mod label{
	width: 200px;
}
#login-sign-up-mod input[type=text],
#login-sign-up-mod input[type=password],
#login-sign-up-mod input[type=email],
#login-sign-up-mod select{
	width: 300px;
}
#login-sign-up-mod .group-container{
	width: 510px;
	margin: auto;
}
#login-sign-up-mod .item{
	margin-bottom: 7px;
}
#login-sign-up-mod .no-label{
	margin-left: 206px;
}
#login-sign-up-mod #keep-me-signed-in-wrapper label{
	width: auto;
}
.no-label > div{
	margin-bottom: 7px;
}
#post-sign-up{
	display: none;
}
.context-item.clicked{
    border-top: 2px solid #163b3d;
    border-bottom: 2px solid #163b3d;
    padding: 4px 0px;	
}