#navItemsContainer a{
	padding-left: 13px;
	padding-right: 13px;
	font-size:20px;	
}

#navBar{
	color:#337ab7;
    max-width: 1200px;
    margin: 5px auto;	
	position: relative;
	border-bottom: 3px solid #337ab7;
	border-top: 3px solid #337ab7;	
	height:80px;
	line-height:74px;
}

#logoContainer{
	position:absolute;
	bottom:0px;
	left:0px;
    padding-left: 35px;
}

#navBar a{
	color:#163B3D;
	cursor:pointer;
	padding-top:6px;
	padding-bottom:6px;
}

#navItemsContainer{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 35px;
}

#nav_logo{
	font-size:36px;	
}

#navBar a:hover{
	text-decoration: none;
	border-bottom: 3px solid #163B3D;
	border-top: 3px solid #163B3D;
}
