#navItemsContainer a{
/* 	padding-left: 13px; */
/* 	padding-right: 13px; */
	font-size:18px;	
/* 	 border-left: 2px solid #cacaca; */
}

#navBar{
	color:#337ab7;
/*     max-width: 1200px; */
/*     margin: 5px auto;	 */
	position: relative;
/* 	border-bottom: 2px solid #197994; */
	border-bottom: 1px solid #cacaca;
/* 	border-top: 3px solid #197994;	 */
	height:80px;
	line-height:74px;
	font-weight: 600;
    letter-spacing: 1.5px;
}

#logoContainer{
	position:absolute;
	bottom:0px;
	left:0px;
    padding-left: 35px;
}

#navBar a{
    color: #163B3D;
    cursor: pointer;
	margin: 6px 13px;
	text-decoration: none;
    padding-left: 4px;
}

#navItemsContainer{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 35px;
}

#nav_logo{
	font-size:36px;	
}

#navBar a:hover{
	text-decoration: none;
	color: #197994;
/* 	border-bottom: 3px solid #163B3D; */
/* 	border-top: 3px solid #cacaca; */
}

#rating-required a{
	font-size: 19px;
}
