.nav-items{
	float:right;
}

.logo{
	float:left;
	border: 1px solid rgb(192,192,192);
	padding:10px;
	font-size:20px;	
}

.nav-item{
	border: 1px solid rgb(192,192,192);
	display:inline-block;
	list-style: none;
	padding:10px;
	border-left-width: 0;
	font-size:16px;	
	float:right;
}


.item {
    float:right;
    background: #ccc;
    width: 50px;
    height: 50px;
    border: 1px #000 solid;
    border-right-width: 0;
}

.link:last-child {
    border-left-width: 1px;
}

.logo:hover, .nav-item:hover{
	background-color: #163B3D;
}

.nav-item:hover, .nav-item:hover *, .logo:hover, .logo:hover *  {	
    color: #ffffff;}


#navBar a:hover{
	text-decoration: none;
}

a{
	color:#000000;
}

.nav-container{
	padding:45px 45px 35px 45px;
/* 	background-color:#F6C627; */
/* 	position:fixed; */
/* 	top:0px; */
	overflow:overlay;
    max-width: 1200px;
    margin: auto;	

}

.nav-border{
	border-bottom: 2px outset #F0F0F0;
	overflow:overlay;
	padding-bottom:10px;
	
}

