


.radio{
	margin-top:0px;
}

#payRangeContainer{
	display:none;
}


.section-body h4 {
    border-top: 0;
}

#employmentTypeContainer{
	display:inlne-block;
}


#generalContainer{
	display:block;
}

.form-group textarea{
	width:100%;
	
}

.form-group label {
    width: 100%;
}



.form-group input {
/*     width: 100px; */
}


.section-sub-head{
	font-weight:bold;
}

#calendarSelectionNote{
	min-height:20px;
}

.contractor-content{
	display:none;
}

#durationFollowUp{
	display:none;
}

#addedQuestions{
	padding:5px 0px;

}


#addQuestion{
	padding:5px 10px
}

#editQuestion, #deleteQuestion{
	display:none;
}

.clickable{
	cursor:pointer !important;
}

.not-clickable{
	cursor:default !important;
	color:#000000 !important;
	background-color: buttonface !important;
}

#addedQuestions a{
	display:block;
}

.selected-question-action{
	display:none;
}

#cancelEditQuestionChanges, #saveEditQuestionChanges{
	padding:0px 5px;
	font-size:17px;
	cursor:pointer;
}



#payRangeContainer input{
	width:75px;
}

#payRangeContainer{
	padding-top:10px;
	padding-left:40px;
}











