.label-text{
	font-weight:bold;
	text-align:right;
}

.section-container .row{
	padding-bottom:20px;
	font-size:16px;
}

/* Override Bootstrap */
.row{
	margin-right:0px;
	margin-left:0px;
}

.section-container .header.row{
	font-size:28px;
	height:auto;
	display: none;
/* 	font-weight:bold; */
}
.section-container{
	display:none;
}

.section-container.first{
	display:block;
}

#clearCalendar{
	margin-top:15px;
}

#payRangeContainer{
	padding-left:30px;
}

#payRangeContainer label{
	width:30px;
}

#payRangeContainer input{
	width:100px;
}

#minPayContainer{
	margin-bottom:10px;
}

.first.row{
	padding-top:50px;
}

#calendarContainer{
	padding:5px;
}

#description{
	width:500px;
}

#submitJobContainer{
	background-color: #163B3D;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(192,192,192);
    width: 155px;
    font-size: 16px;
    overflow: hidden;    
}

#copyPreviousPost{
	margin-bottom: 20px;
}

#submitJobContainer{
	margin-top: 20px;
}

#datesContainer #clearCalendar{
	margin-left:40px;
}

#timesTable thead .master-row,
#timesTable thead .master-row-multi-select{
	display:none;
}


#timesTable select.time{
	width:125px;
}

#timesTable tbody td{
    padding: 7px;
}

#headerLinksContainer{
    text-align: left;
    color: #337ab7;
    padding: 50px 0px 10px 0px;
    padding-left: 200px;
    
    font-size: 20px;
    color: #163b3d;
    display: inline-block;
    /* border-bottom: 2px solid black; */
    margin-bottom: 20px;
}

#copyPreviousQuestion{
    font-size: 15px;
    color: #337ab7;
    cursor:pointer;
}

#headerLinksContainer span{
	padding: 2px;
	cursor:pointer;
}

#postedJobsContainer{
	position:relative;
	display: inline-block;
	
}

#postedJobs{
	width:225px;
	
}

#postedJobs div[data-posted-job-id],
#postedQuestions div[data-question-id]{
	padding: 5px 0px;	
	color: #163b3d;
	cursor: pointer;
	font-size:16px;
}

#postedQuestionsContainer{
/* 	display:inline-block; */
	position: relative;
	padding-top: 15px;
}

#postedQuestions{
	width:350px;
	left: 175px;
/* 	height:500px; */
/* 	overflow: scroll;  */
}


.list-item{
	padding: 5px 0px;
}

.delete-list-item, .add-list-item{
	cursor:pointer;
	font-size:15px;
	padding:5px;
}

#employeeSkillsContainer .list-item input{
	width: 600px;
}

#timesTableContainer{
	display:none;
}



#headerLinksContainer #previewJobPosting_Label{
	font-size: 24px;
	color: #337ab7;
	padding-right:40px;
/* 	margin-left: -200px; */
}


#submitPosting_preview_container,
#submitPosting_final_container{
    display: inline-block;
    padding: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#headerLinksContainer #submitPosting_final_container{
	display:none;
}

#postSections .post-section{
	font-size: 17px;
	color: #767676;
}

#postActions .post-section{
	font-size: 18px;
}

.post-section{
	margin: 0px 15px;
	line-height: 50px;	
	cursor: pointer;
}
#postActions{
/* 	margin-top: 25px; */
}

#postSections{
	border-bottom: 1px solid #cacaca;
}

#postSections, 
#postActions{
	text-align: center;
	height: 50px;
}

#postSections .post-section.selected-section{
	color: #197994;
	font-weight: bold;
/* 	font-size: 18px; */
    border-bottom: 2px solid #cacaca;
}

.section-container{
	width: 700px;
	margin: auto;
}

#noDatesSelected{
	font-size: 17px;
	text-align: center;
}
