
.expandable-table-container h4{
	background-color:#163B3D;
	color:#ffffff;
	padding:5px;
}

.expandable-table-container{
	padding:10px 60px;
	display:none;
}

.applicants-container table tr{
	min-height: 85px;
}

.toggle-row{
	height:0px !important;
}

.toggle-row td{
	padding:0px !important;
}


th.expand-job-header{
	width:5%;
}

th#name{
	width:20%;
	text-align:left;
}

th#failedWageNegotiations{
	width:15%
}

th#newApplications{
	width:20%;
}

th#totalApplications{
	width:20%
}

th#hires{
	width:10%;
}

th.applicant-name{
	width:15%
}

th.applicant-rating{
	width:10%
}

th.applicant-endorsements{
	width:30%
}

th.applicant-wage-negotiation{
	width:45%;
}


table#failedWageNegotiations{
	width:500px;
}


.jobs-table-container{
	padding-top:25px;
}

.counter-offer-container{
/* 	display:none; */
}

.sent-counter-notification{
	padding-top:7px;
}

.endorsement{
	padding:5px;
}

.active-jobs-container{
	padding-top:20px;
}


td .pop{
	color: #A73854;
    font-size: 17px;
    font-weight: bold;
}


th.applicant-name{
	width:20%;
}

th.applicant-rating{
	width:15%;
}

th.applicant-endorsements{
	width:25%;
}

th.applicant-wage-negotiation{
	width:40%;
}

.applicants-container{
	display:none;
}

.applicants-container h4{
	background-color:#163B3D;
	color:#ffffff;
	padding:5px;
}


.applicants-container{
	padding:5px 90px;
}


.active-jobs-container{
    width: 800px;
}

.job-type{
	cursor:pointer;
	padding:10px;
	border: 1px solid rgb(192,192,192);
	margin: 5px 2px;
    font-size: 16px;
    overflow:hidden;
	width:150px;
	display:inline-block;
	text-align:center;
}

#jobTypeSelectionBoard{
	padding-top:25px;
}

#active, #complete{
	display:none;
}

