.column{
	display:inline-block;
}

.category{
	font-size:15.5px;
}



#main{
	padding-top:10px;
}

#buttonsContainer{
	padding:20px 0px;
}

#buttonsContainer button{
	padding:5px 10px;
	font-size:18px;
}

#ratings{
	width:150px;
}

.header{
	font-size:21px;
}

.content{
	padding-top:8px;
}

#main li{
	list-style-type:none;
	margin:1px 0px;
	
}

#main li, #main textarea{
	border-radius:3px;
}

#employees li:hover{
	cursor:pointer;
}

.criterion-name{
	border-bottom: 3px solid rgb(192,192,192);
	padding:4px;
	width:100%;
	font-size:15.5px;
}

.criterion-list{
	padding-top:6px;
}

.content li{
	padding:3px 10px;
	border: 1px solid rgb(192,192,192);	
	margin-left:7px;
	
}

#ratings li, #endorsements li{
/* 	border-top:0px; */

}

.content li{
	cursor:pointer;
}

#comment{
	width:100%;
}

#saveComment{
	margin-top:5px;
	background-color:#ffffff;
	padding:3px 7px;
}

.clicked{
	background-color:#D6D623;
}

.content li.not-clicked:hover{
	background-color: #163B3D;
	color:#ffffff;
}

.criterion-container{
	padding-bottom:5px;
	padding-left:10px;
}

.content ul{
	padding-left:0px;
	padding-top:0px;
