#main-cont{
	width: 935px;
	margin: auto;	
/* 	text-align: center; */
}
.if-no{
	display:none;
	padding-left: 30px;
    border-bottom: 1px solid #cacaca;	
}
button.selected{
	color: #fff;
}
button.yes.selected{
	background: #3c8c55;
}
button.no.selected{
	background: #ab2929;
}
.button-group{
	padding: 5px 0px 15px 30px;
}
.rate-criterion .radio-container label{
	display: block;
}
.rating-criteria-cont{
	display: none;
}
.rate-criterion p:first-of-type{
	font-weight: bold;
}
.rate-criterion .button-group{
/* 	display: inline-block; */
}
.star-rating-cont .caption,
.star-rating-cont .clear-rating{
	display: none;
}

h2{
	font-weight: bold;
	font-size: 18px;
	color: #197994;
	margin-bottom: 20px;
}
#job{
	text-align: center;
    border-bottom: 1px solid #cacaca;	
    width: 400px;
    margin: auto;    
}
h1{
	font-weight: bold;
	font-size:24px;
	color: #163b3d;
}
p,
p a{
	font-weight: normal;
	font-size: 16px;
	color: #000000;	
}

.item > p{
/* 	padding-left: 50px;	 */
}


textarea{
	width: 500px;
}

.rating-container{
/* 	padding-left: 30px; */
}



.item{
/* 	padding-bottom: 25px; */
}

p.error-message{
	font-size: 18px;
	margin-top: 10px;
}
.rate-employer .rating-criteria-cont{
	width: 550px;
}