#main-cont{
	width: 875px;
	margin: auto;	
/* 	text-align: center; */
}
.if-no{
	display:none;
	padding-left: 30px;
    border-bottom: 1px solid #cacaca;	
}
button.selected{
	color: #fff;
}
button.yes.selected{
	background: #3c8c55;
}
button.no.selected{
	background: #ab2929;
}
.button-group{
	padding: 5px 0px 15px 30px;
}
.rate-criterion .radio-container label{
	display: block;
}
.rating-criteria-cont{
	display: none;
}
.rate-criterion p:first-of-type{
	font-weight: bold;
}
.rate-criterion .button-group{
/* 	display: inline-block; */
}
.star-rating-cont .caption,
.star-rating-cont .clear-rating{
	display: none;
}

h2{
	font-weight: bold;
	font-size: 18px;
	color: #163b3d;
	margin-bottom: 20px;
}
#job{
	text-align: center;
    border-bottom: 1px solid #cacaca;	
    width: 400px;
    margin: auto;    
}
h1{
	font-weight: bold;
	font-size:24px;
	color: #163b3d;
}
p,
p a{
	font-weight: normal;
	font-size: 16px;
	color: #000000;	
}

.item > p{
/* 	padding-left: 50px;	 */
}


textarea{
	width: 500px;
}

.rating-container{
/* 	padding-left: 30px; */
}



.item{
/* 	padding-bottom: 25px; */
}


#ratings-cont{
/* 	float: right; */
/* 	width: 450px; */
	text-align: center;
	margin-left: 20px;
}
#ratings-cont,
#employee-list{
	display: inline-block;
}

#employee-list{
	vertical-align: top;
/* 	margin-right: 75px; */
	width: 200px;
}
#employee-list p{
	padding: 5px 8px;
	border-left: 7px solid #d4d4d4;
    margin: 2px 5px;
}
#employee-list .employee{
    margin: 17px 0px;
}
#employee-list p:hover{
	cursor: pointer;
/* 	background: #197994; */
/* 	color: #fff;. */
	border-left: 7px solid #197994;
	
}
#employees p.selected{
	border-left: 7px solid #d4d4d4;
	background: #d4d4d4;
/* 	color: #fff;. */
}
#employees{
/* 	border: 2px solid #cacaca; */
	border-right: 1px solid #cacaca;
}
#submit-cont{
	width: 250px;
	margin: auto;
}
#next-employee{
	text-align: left;
    margin-top: 20px;
    font-weight: bold;
    font-size: 19px;
    color: #197994;
}
.user-cont h2{
    font-size: 21px;
    color: #197994;
}
#next-employee span{
	font-size: 13px;
	margin-right: -9px;
}
#employees .employee.complete p::after{
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    float: right;
    color: #3c8c55;
    font-size: 21px;
    line-height: 21px;
    padding-right: 10px;
}
p.error-message{
	font-size: 18px;
	margin-top: 10px;
}
.rate-employer .rating-criteria-cont{
	width: 550px;
}