
/* Override plugin */
.rating-container{
	display:inline-block !important;
	padding-left:10px !important;

}

.rating-container .caption{
	padding-top:12px !important;
	width:100px;
}

.rating-container .caption span{
	color: #163B3D;
	background-color:#ffffff !important;
	padding: 6px !important;
	margin: 0px !important;
	font-size:75% !important;
	font-weight:bold !important;
}

.rating-container .filled-stars{
	text-shadow: none !important;
	color: #b79a1d;
}

.rated{
	color: #337ab7 !important;
}

#buttonsContainer{
    padding-top: 25px;
}

.rate-criterion{
    padding: 5px 5px;
    margin: 5px 0px;
}

th#employee{
	width:10%;
}

th#rating{
	width:40%;
}

th#endorsements{
	width:20;
}

th#comment{
	width:30%;
}

textarea.comment{
	width: 100%;
    border-radius: 2px;
}

.endorsement{
	height:26px;
	cursor:pointer;
}

.endorsement .glyphicon{
	line-height:13px;
	font-size:17px;
	padding-right: 5px;
}

.glyphicon-remove{
	color:#b30000;
}

.glyphicon-ok{
	color:#0A5032;
}



table#ratings{
	width:100%;
}

#submitRatings{
	padding: 5px 10px;
	background-color: #163B3D;
	color:#ffffff;
	margin-bottom:25px;
	font-size:17px;
}