
.rate-label{
	font-size: 15px;
	display: inline;
	height: 100%
}

.rate-group{
/* 	position: absolute; */
/* 	float: left;	 */
	display: block;
	margin: 10px 0px 10px 0px;	
/* 	left: 220px; */
}


.rate-values{
/* 	position: absolute; */
/* 	float: left; */
	vertical-align: middle;
	display: inline;
/* 	height:20px; */
	
}

.button-active{
	background-color: #e6ac00;
}

.rate-submit {
/* 	position: absolute; */
	margin-top: 20px;
	float: left;
	display: block;
	bottom: 10px;
}

.rate-employees{
	position: absoloute;
	width: 100%;
/* 	position: absolute; */
	float: left;
	height: 100%
}
