.show-applicant-ratings-mod{
	text-align: center;
}
.show-applicant-ratings-mod .user-rating:hover{
	cursor: pointer;
}
.show-applicant-ratings-mod .user-rating{
	font-weight: bold;
	color: #197994;
}
/* Override plugin */
.rating-container{
	display:inline-block !important;
/* 	padding-left:10px !important; */
	margin: 0px 10px;
}

.rating-container .caption{
	padding-top:12px !important;
	width:125px;
}

.rating-container .caption span{
	color: #163B3D;
	background-color:#ffffff !important;
	padding: 6px !important;
	margin: 0px !important;
	font-size:75% !important;
	font-weight:bold !important;
}
.rating-container .glyphicon{
	cursor: default;
}
.rating-container .filled-stars{
	text-shadow: none !important;
	color: #b79a1d;
}

.rated{
	color: #337ab7 !important;
}
#user-complted-jobs h3{
	margin-bottom: -12px;
}
#buttonsContainer{
    padding-top: 25px;
}

.rate-criterion,
.comment-cont{
	padding: 5px 5px;
    margin: 5px 0px;
    text-align: left;
}

th#employee{
	width:10%;
}

th#rating{
/* 	width:40%; */
}

th#endorsements{
	width:20;
}

th#comment{
	width:30%;
}

textarea.comment{
/* 	width: 100%; */
    border-radius: 2px;
}

.endorsement{
	height:26px;
	cursor:pointer;
}

.endorsement .glyphicon{
	line-height:13px;
	font-size:17px;
	padding-right: 5px;
}

.glyphicon-remove{
	color:#b30000;
}

.glyphicon-ok{
	color:#0A5032;
}

.star{
	font-size: 30px;
}

table#ratings{
	width:100%;
}
.about-user{
	max-height: 200px;
	overflow-y: scroll;
}
#submitRatings{
	padding: 5px 10px;
	background-color: #163B3D;
	color:#ffffff;
	margin-bottom:25px;
	font-size:17px;
}



.criteria-cont{
	padding: 5px 0px;
}
#user-header{
    width: 550px;
    border-bottom: 1px solid #cacaca;
    margin: auto;
    padding-bottom: 50px;
}
#user-rating-details .criteria-name{
	width: 250px;
    display: inline-block;
    text-align: left;
/*     color: #163b3d; */
/*     font-weight: bold;     */
}
#user-rating-details .criteria-cont:first-child{
	margin-top: 15px;
}
#user-rating-details .rating-value .star{
	font-size: 22px;
}
#user-complted-jobs{
/* 	    border-top: 1px solid #cacaca; */
	max-height: 750px;
}
.completed-job h3{
	display: inline-block;
	margin-right: 10px;
	width: 175px;
	text-align: left;
	font-size: 19px;
}
.completed-job{
	padding: 15px 0px;
	width: 500px;
	margin: auto;
    text-align: left;
}
.comments-cont{
	width: 450px;
	margin: auto;
	
}
.comments-cont h5{
	font-size: 16px;
	text-align: right;
}
.comments{
	display: none;
	text-align: right;
}
.comments span{
	padding-bottom: 10px;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 10px;
}
.comments span:last-child{
	border-bottom: 0;
}
.details{
	display: none;
/*     border-bottom: 2px solid #cacaca; */
}


.ratings-mod-container .mod-content{
    width: 700px;
    margin-left: -350px;
    top: 100px;
/*     border: 5px solid #163b3d; */
}
body{
/* 	min-height: 1100px; */
}
.user-cont h2{
    width: 425px;
}
.rate-employer .user-cont h2{
	width: auto;
}