.select-page-section.selected{
    color: #fff;
    /* font-weight: bold; */
/*     font-size: 18px; */
    background: #197994;
    
}
.select-page-section.selected,
.select-page-section:not(.selected):hover{
/* 	border-top: 6px solid #197994; */
}
.select-page-section{
    font-size: 19px;
    color: #333;
/*     margin: 0px 15px; */
    line-height: 55px;
    cursor: pointer;  
    padding: 10px 15px;  
}

.select-page-section-container{
    text-align: center;
    height: 56px;
    border-bottom: 1px solid #cacaca;
}

.page-section{
	display: none;
}