table.main-table-style{
	width:100%;
} 

.main-table-style thead{
    border-bottom: 2px solid #ddd;
}

.main-table-style .glyphicon-menu-up, .main-table-style .glyphicon-menu-down{
	margin-right:5px;
	padding:5px;
}

.main-table-style tbody tr.toggle-row{
	border-top: 0;
}

.main-table-style tbody > tr{
	border-top:1px solid #ddd;
}

.main-table-style tbody tr:first-child{
	border-bottom: 0;
}

.main-table-style tbody tr{
	height:30px;
}

.main-table-style tbody td .endorsement{
	padding:2px 0px;
}

.main-table-style tbody td .badge.non-zero{
	background-color: #2D8633;
}
    
.toggle-div{
	display:none;
}



.main-table-style td{
	padding:8px;
}

.main-table-style th{
	padding:4px 8px;
}

td .accent{
    color: #337ab7;
    font-size: 15px;
    font-weight: bold;
}