table.main-table-style{
	width:100%;
} 

.main-table-style > thead{
/*     border-bottom: 1px solid #ddd; */
/*     border-top: 1px solid #ddd; */
}
.main-table-style.shadow > thead > tr:last-child{
	box-shadow: 3px 3px 5px #848484;
}
.main-table-style.shadow.left-border > thead > tr:last-child{
	border-left: 5px solid #163b3d;
}
.main-table-style .glyphicon-menu-up, .main-table-style .glyphicon-menu-down{
	margin: 0px 5px;
	padding: 5px;
	color: #adadad;
}

.main-table-style tbody tr.toggle-row{
	border-top: 0;
}

.main-table-style > tbody > tr{
	border-bottom:1px solid #ddd;
}

.main-table-style > tbody > tr:first-child{
/* 	border-bottom: 0; */
}

.main-table-style > tbody > tr{
	height:30px;
}

.main-table-style tbody td .endorsement{
	padding:2px 0px;
}

.main-table-style tbody td .badge.non-zero{
	background-color: #2D8633;
}
    
.toggle-div{
	display:none;
}



.main-table-style > tbody > tr > td{
	padding:15px;
	text-align:center;
	font-size:15px;
	vertical-align:top;
}

.main-table-style > thead > tr > th{
	padding:13px 8px;
    font-size: 16px;
/*     color: #888888; */
	color: #000;
    font-weight: normal;
/*     color: #fff; */
/*     background: #197994;     */
}
.main-table-style th.teal{
/* 	background: #197994;	 */
	background: #36595a;
    color: #fff;
}
.main-table-style th.teal.first{
	border-top-left-radius: 7px;
}

td .accent{
    color: #337ab7;
    font-size: 15px;
    font-weight: bold;
}



th.span{
	text-align:center;
/* 	border-right: 2px solid #337ab7; */
/*     border-left: 2px solid #337ab7; */
}


tr.header-1{
	text-align:center;

}

tr.header-2{
	border-top:0 !important;
}

th.left-edge{
/* 	border-left: 2px solid #7EB1DC; */
/* 	border-left: 2px solid #989a9c; */
}

th.right-edge{
/* 	border-right: 2px solid #7EB1DC; */
/* 	border-right: 2px solid #989a9c; */
}

#headerWageNegotiaions, #headerApplications{

}

.main-table-style > thead > tr > th{
	font-weight:100;
	font-size: 16px;
	text-align:center;
}

td.data{
	text-align:center;
}

th.left *,
td.left *{
	text-align:left;
}

.main-table-style > tbody > tr > td{
	vertical-align:middle;
}


.main-table-style.shadow > thead > tr th.job-status{
/*     padding-top: 8px; */
/*     border-top: 2px solid #163b3d; */
/*     border-bottom: 2px solid #163b3d; */
/*     color: #000; */
/*     font-weight: bold; */
/*     background: #163b3d; */
	background: #197994;	
    color: #fff;
}
.main-table-style.shadow > thead > tr > th:not(.job-status){
	font-weight: bold;
}
.main-table-style.shadow > thead > tr > th.job-status.first{
	border-top-left-radius: 7px;
}