.counter-offer-response{
	display:none;
	position:absolute;
	background-color:#ffffff;
	z-index:1000;
	border:2px solid #9c9696;
	padding-top:7px;
/* 	padding-left:15px; */
    width: 200px;
    margin-bottom: 40px;
}

.offer-context{
	display:inline-block;
}

.counter-offer-container{
	position:relative;
}

.counter-offer-container .glyphicon-menu-hamburger{
	cursor:pointer;
	margin-left:5px;
    font-size: 17px;
}

.re-counter-offer-response{
	padding-top:5px;
}

.re-counter-amount-container{
	display:none;	
/* 	padding-left:15px; */
	padding-top:13px;
}

.re-counter-amount-container input{
	display:block;	
	margin:4px auto;
	width:75px;	
}

.counter-offer-response button{
    background-color: #337ab7;
    color:#ffffff;
    font-size: 15px;
    padding:3px 7px;
    margin:5px 0px;
    border:0;
}

.wage-proposal-response-container{
	padding-top:10px;
	display:none;
}

.counter-offer-response a{
	display:inline;
	text-align:center;
	padding:2px 0px;
}

.re-counter-amount-container *{
/* 	text-align:left; */
}


.send-cancel-container{
	padding-top: 4px;
}

.send-cancel-container{
	text-align:center;
}

.send-cancel-container a{
	margin:0px 3px;
}