.counter-offer-response{
	display:none;
	padding-top:7px;
	padding-left:15px;
}

.offer-context{
	display:inline-block;
}

.counter-offer-container .glyphicon-menu-hamburger{
	cursor:pointer;
	margin-left:5px;
    font-size: 17px;
}

.re-counter-offer-response{
	padding-top:5px;
}

.re-counter-amount-container{
	display:none;	
	padding-left:15px;
	padding-top:5px;
}

.re-counter-amount-container input{
	display:block;	
/* 	margin:5px auto; */
/* 	margin-left:10px; */
	width:75px;	
}

.counter-offer-response button{
    background-color: #337ab7;
    color:#ffffff;
    font-size: 15px;
    padding:3px 7px;
    margin:5px 0px;
    border:0;
}

.wage-proposal-response-container{
	padding-top:10px;
	display:none;
}

.counter-offer-response a{
	display:block;
	text-align:left;
	padding:2px 0px;
}

.re-counter-amount-container *{
	text-align:left;
}


.send-cancel-container{
	padding-top: 4px;
}