.calendar-container .calendar .ui-datepicker-group-middle td{
	padding: 20px;
}

.availability-container{
	padding-top: 50px;
}

.availability-container .ui-datepicker-header{
	border-bottom: 0;
	position: static
}

.ui-datepicker-group-middle .ui-datepicker-title{
	font-size: 18px;

}

.ui-datepicker-title{
    font-weight: bold;
    color: #163b3d;
}



.days-of-week-container{
	width: 400px;
	margin: auto;
    padding-bottom: 25px;	
}

.days-of-week-container label{
	padding-left: 10px;
}

.days-of-week-container .options{
	padding-top: 15px;
}

td.edited-availability{
	color: red !important;
}

.availability-container.editing .ui-datepicker-group-first,
.availability-container.editing .ui-datepicker-group-last{
	background: #ececec;
}

.availability-container.editing .ui-datepicker-group-first .ui-datepicker-calendar *,
.availability-container.editing .ui-datepicker-group-last .ui-datepicker-calendar *{
	color: gray;
}

.availability-container .ui-datepicker-group{
	padding: 20px 20px;
}


.availability-container .ui-datepicker{
	position: relative;
}

.availability-container .ui-datepicker-next{
	right: 355px
}

.availability-container .ui-datepicker-prev{
	left: 335px
}

.availability-container .ui-datepicker-next,
.availability-container .ui-datepicker-prev{
    color: #197994 !important;
    font-weight: bold !important;	
	
}