#personal-info{
	font-size: 16px;
}
#personal-info .info-item label{
	display: block;
	font-weight: bold;
}
.edit-container{
	display: none;	
}
.edit-container > div{
	margin-bottom: 10px;
}
#personal-info .info-item:not(:last-child){
    margin-bottom: 20px;	
}
.edit-container{
	margin-top: 10px;
}
.no-data{
	font-size: 16px;
}
.no-data,
.edit-container,
.info-item .value{
	margin-left: 20px;
	
}
.info-item .value{
	display: block;
}
.info-item .value .not-set{
	font-style: italic;
}
.info-item .value:hover{
	text-decoration: underline;
	cursor: pointer;
}

#personal-info-container img{
    width: 140px;
    margin-bottom: 15px;
}
#user-name{
	font-size: 20px;
	font-weight: bold;
}
#overall-rating{
	display: inline-block;
}
#profile-content .personal-info-section label{
    font-size: 18px;
    font-weight: bold;
    color: #197994;	
}
#profile-content .personal-info-section{
	margin: 0px 15px 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;

}
#profile-content{
	display: inline-block;
	margin-right: 77px;
    border-right: 1px solid #cacaca;
    margin-top: 20px;
       width: 400px;	
}
.personal-info-section .edit-container label{
    font-size: 17px;
    font-weight: bold;
    color: #000;	
}
.save-profile-info{
    font-size: 20px;
    color: #fff;
    /* font-weight: bold; */
    padding: 5px 18px;
    background: #163b3d;
}

.edit-wrapper{
	margin: 25px 0px;
}
#about{
    width: 100%;
    height: 200px;
}

