
#imageContainer img{
	height: 150px;	
}

#imageContainer{
	text-align:center;
	padding-top:45px;
}

#imageContainer p{
    padding-top: 15px;
    font-size: 23px;
}

#topCategories table{
	width: 350px;
	margin: auto;
}

#workHistoryContainer{
	padding-top: 25px;
}