
#imageContainer img{
	height: 150px;	
    border-radius: 5px;
	
}

#imageContainer{
	text-align:center;
	padding-top:45px;
}

#imageContainer p{
    padding-top: 15px;
    font-size: 23px;
}

#topCategories table{
	width: 350px;
	margin: auto;
}

#workHistoryContainer{
	padding-top: 45px;
}

#pastJobs{
	padding-top: 40px;
}

#pastJobs table{
	width: 900px;
	margin: auto;
}

#aboutMe{
	width: 500px;
    margin: auto;
    display: block;
}

#aboutMeContainer{
	padding-top: 40px;
}