td .added-content p.full{
	display: none;
	padding-top: 20px;
}
td.no-available-positions .added-content p.full{
	display: block;
}
td.no-available-positions .added-content p.time{
	display: none;
}
td.active111.proposed-work-day .start-and-end-times{
	border: 2px solid  #163b3d;
	background: #fcfdc1;
}

td.active111.proposed-work-day:not(.other-application-work-day){
	 border: 0;	
}
td.job-work-day .start-and-end-times{
	 border: 2px solid #888888;	
}

.start-and-end-times{
	color: #000;   
	padding: 2px;
	text-align: center;
	font-size: 13px;
	position: relative;
}

.start-and-end-times p{
	margin: 2px;
/* 	font-weight: bold */
}

.job-info-calendar .ui-datepicker-group{
	padding: 0px 20px;
}
.job-info-calendar .calendar td.active111.proposed-work-day a{
/*    background: #163b3d; */
   background: #fff;
   color: #000 !important;
}
.job-info-calendar .calendar td.active111.job-work-day a{
   background: #888888;
}
.job-info-calendar .calendar td.active111 a{
    width: 100%;
    display: inline-block;
}
.job-info-calendar .ui-datepicker-inline{
	margin: auto;
}

.job-info-calendar .calendar td.active111{
	background: #fff;

}
.job-info-calendar .calendar td{
	padding: 2px ;
	vertical-align: top;
	text-align: center;
	height: 75px;
	width: 70px;	
}










td.job-work-day.no-available-positions{
	opacity: 1;
	background: #3d8457;
	color: #fff;
	cursor: default;
}
td.job-work-day.has-conflicting-employment a,
td.job-work-day.has-conflicting-employment .added-content p,
td.job-work-day.no-available-positions a,
td.job-work-day.no-available-positions .added-content p{
	color: #fff;
}
td.job-work-day.has-conflicting-employment .added-content p,
td.job-work-day.no-available-positions .added-content p{
	font-weight: normal;
}
