.header-wrap{
	width: 400px;
	margin: auto;
    padding: 10px 24px;
    border-top: 2px solid #163b3d;
    border-bottom: 2px solid #163b3d;
}
.header-wrap .header-item:last-child > label{
	margin: 0;
}
.header-item > label{
    width: 175px;
    vertical-align: top;
    font-weight: bold;
    color: #197994;
    font-size: 17px;	
}
.header-item > div{
	display: inline-block;
}
.wrapper.employee-context .employer-context{
	display: none;
}
.wrapper.employer-context .employee-context{
	display: none;
}
.instructions{
/* 	color: red; */
	font-weight: bold;
}
.job-info h2{
	font-size: 27px;
    font-weight: bold;
    color: #163b3d;
}
.job-info .radio-container{
	display: block;
}
.job-info .calendar-container.no-pad .calendar{
	padding: 5px;
	margin-left: -5px;
}
/* .job-info p.employer{ */
/*     font-size: 19px; */
/*     font-weight: bold; */
/*     color: #197994; */
/* } */
.job-info p.employer:hover{
	cursor: pointer;
}
.job-info .ui-datepicker-inline{
	display: block
}
.job-info .v2 td{
	height: 32px;
}
#job-info-mod > .mod-content{
    margin-left: -450px;
    height: 96%;
    overflow: auto;
}
#job-info-mod > .mod-content,
.job-info.fixed #apply-for-job-cont{
    width: 900px;
    top: 2%;	
}
#select-all-work-days{
    background: #36595a;
    color: #fff;
    margin-bottom: 15px;    
}
#skills,
#questions,
#job-description,
#map-container{
/* 	text-align: left; */
/* 	width: 500px; */
/* 	margin: auto; */
}
/* #work-days-label, */
/* #location-label{ */
/* 	text-align: left; */
/* 	width: 500px; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* } */
.job-info .sub > h3-2{
	font-size: 20px;
	font-weight: bold;
	color: #197994;
	margin-top: 55px;
}
.job-info #work-days-calendar-container{
    text-align: center;
/*     margin-top: 30px; */
}
.job-info .sub > h3{
	font-size: 20px;
	background: #197994;
    color: #fff;
    line-height: 36px;
    text-align: center;
    width: 188px;
/*     box-shadow: 3px 3px 2px #cacaca; */
/*     border-radius: 3px; */
    margin: auto;
    margin-top: 55px;
    margin-bottom: 20px;
    font-weight: normal;
}

:not(.find-context) #questions li{
	list-style: none;
}
/* #skills ul, */
/* #questions .question-container, */
/* #job-description p{ */
/* 	padding-left: 50px; */
/* } */
.question-container{
	margin: 5px 0px;
	padding: 5px;
}
.question-container p{
/* 	font-weight: bold; */
}
#work-day-message{
/* 	font-weight: bold; */
/* 	font-size: 18px; */
/*     margin: 20px 0px; */
}
.break{
	width: 300px;
	margin: 40px auto;
	border-bottom: 1px solid #cacaca;
}
#work-days-calendar-container .ui-datepicker-title{
    font-weight: bold;
    font-size: 18px;
}
.job-info .map{
    width: 500px;
    height: 500px;
}
#job-address p{
	margin: 0px;
}
#job-address{
	text-align: left;
}
#desired-wage input{
    width: 100px;
    text-align: center;
    font-size: 27px;
}
.to-be-fixed,
#apply-for-job{
	font-size: 20px;
	width: 220px;
	height: 50px;
    background: #197994;
}
#skills h4{
	font-size: 17px;
/* 	font-weight: bold; */
}
.job-info.fixed #apply-for-job-cont,
.job-info.fixed #error-messages{
    position: fixed;
    border-bottom: 1px solid #cacaca;
    margin: auto;

}
.job-info.fixed #apply-for-job-cont{
    margin-left: -16px;
    padding: 10px;
    background: rgba(82, 81, 81, 0.85);
}
.job-info.fixed #error-messages{
    top: 69px;
    background: rgb(255, 223, 223);
}
.job-info.fixed #error-messages p:first-child{
	padding-top: 10px;
}
#apply-for-job-cont{
	position: absolute;
	width: 100%;
	height: 70px;
	background: #fff;
	z-index: 1000;
	top: -60px;
	text-align: center;
}
.job-info{
	position: relative;
}
.job-info.show-apply-button{
	margin-top: 60px;
	padding-top: 25px;
}
.sub::after{
/*     content: ''; */
/*     padding-bottom: 20px; */
/*     border-bottom: 1px solid #e2e1e1; */
/*     width: 650px; */
/*     margin: auto; */
/*     display: block; */
}
.job-description{
    max-height: 70px;
    overflow-y: auto;	
}
#jobs-needing-rating-warning{
    text-align: center;
    color: #cc0a0a;
    font-size: 20px;
}
.job-body{
	padding-left: 10px;
}
.sub > label{
	width: 175px;
	vertical-align: top;
	font-weight: bold;
	color: #163b3d;
	font-size: 17px;
}
.sub{
    width: 80%;
    margin: auto;
    padding-top: 30px;
}
.job-info-content{
display: inline-block;
    padding-top: 42px;
    /* width: 600px; */
    padding-bottom: 10px;
    margin-left: -95px;
    /* border-bottom: 1px solid #cacaca; */
}

#job-info-map{
	width: 500px;
	height: 500px;
}
#application-success-container{
	text-align: center;
	display: none;
}
#application-success-container a{
	background: #197994;
	color: #fff;
	width: 300px;
	display: block;
	margin: 10px auto;
}
.job-info .v2 .ui-datepicker-inline.ui-datepicker-multi {
    width: auto !important;
}
#edit-job-post{
	color: #fff;
    background: #8a8a8a;
    font-size: 17px;
    margin: 0px 20px;
    font-weight: normal;
    padding: 15px 30px;
}
#submit-job-post{
    padding: 15px 30px;
    color: #fff;
    background: #197994;
    font-weight: normal;
}
#submit-job-info-container{
	margin-bottom: 40px;
}
.star,
.star .glyphicon-star{
	font-size: 17px;
/* 	height: 30px; */
/* 	line-height: 30px; */
}
.job-info .rating-container{
	margin: 0ox;
}