.section-container .item{
	padding-bottom: 50px;
}

.item p,
#timesTable th{
	font-size: 19px;
	color: #197994;
	font-weight: bold;
}

#timesTable.main-table-style tbody > tr{
	border-top: 0;	
}

.section-container{
	text-align: center;
}

.section-container .radio-container{
    display: inline-block;
    text-align: left;
}

#locationContainer .item{
	padding-bottom: 20px;
}

#locationContainer input,
#locationContainer select{
	width: 200px;
}

#postJobInfoContainer{
/* 	padding-top: 50px; */
	text-align: center;
}

.header-container{
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 400px;
    border-bottom: 1px solid #cacaca;
}

.header-container button{
	padding: 10px 20px;
	font-size: 17px;
	color: #ffffff;
	background: #163b3d;
	margin-bottom: 15px;
	
}


.header-container span{
    font-size: 18px;
    color: #163b3d;
    cursor: pointer;
    font-weight: bold;	
}

.header-container #previousSection{
	margin-right: 35px;
}

#postActions p{
	display: inline-block;
}

#postActions{
/* 	display: none; */
}

#postActions #submitPosting_final,
#postActions #editPosting{
	display: none;
}

#displayExample_jobInfo{
	padding-top: 50px;
	display: none;
}

#datesContainer .calendar td.active111{
	background: #163b3d;
}

.hide-on-load{
	display: none;
}

#postedJobsContainer{
	padding-top: 50px;
}

#postedJobsContainer button{
	padding: 15px 20px;
	margin: 0;
	background: #197994;
	color: #ffffff;
	font-size: 22px;
	margin: 0px 10px;
}