#copy-or-new-container{
	padding-top: 50px;
	text-align: center;
}

#copy-or-new-container button{
	padding: 15px 20px;
	color: #ffffff;
	background: #197994;
	font-size: 18px;
	margin: 0px 20px;
	width: 380px;
}

.item{
	padding-bottom: 35px;
}

.item p{
	font-size: 18px;
	font-weight: bold;
	color: #197994;
}

#preview-job-posting-container{
	display: none;
}

/* #previous-next-container{ */
/*     width: 400px; */
/* } */

/* #edit-or-submit-container{ */
/* 	width: 600px; */
/* } */

#edit-or-submit-container,
#previous-next-container{
    padding: 25px 0px 15px 0px;
    text-align: center;
    border-bottom: 1px solid #cacaca;	
    margin: auto;
    margin-bottom: 40px;	
    width: 600px;
}

#proceed-to-preview-job-posting{
	display:block
}

#editPosting,
#submitPosting_final{
	display: inline-block;
}

#proceed-to-preview-job-posting,
#editPosting,
#submitPosting_final{
	background: #163b3d;
	color: #ffffff;
	padding: 10px 20px;
	margin: auto;
	margin-bottom: 20px;
	font-size: 20px;
    width: 270px;
}

#previous-next-container span{
	font-size: 18px;
	color: #163b3d;
	cursor: pointer;
	margin: 0px 15px;
	font-weight: bold;
}

#previous-next-container span:hover{
	text-decoration: underline;
}

.page-section{
	text-align: center;
}

textarea#description{
	width: 500px;
}

thead .master-row-multi-select,
thead .master-row{
	display: none;
}

.hide-on-load{
	display: none;
}

#previous-job-posts{
	margin-left: 20px;
	width: 374px;
}
#previous-job-posts [data-posted-job-id],
#postedQuestions [data-question-id]{
	padding: 10px 10px;
}

#previous-job-posts [data-posted-job-id]:hover,
#postedQuestions [data-question-id]:hover{
	background: #cacaca;
	cursor:pointer;
}

#copy-previous-post-container{
	display: inline-block;
}

#addedQuestionsContainer{
	diplay: none;
}

#employeeSkillsContainer input{
	width: 500px;
}

#addedQuestionsContainer,
#create-question-container{
	display: none;
}

#copy-or-new-question button{
	padding: 10px 20px;
	background: #197994;
	color: #ffffff;
}

#copy-question-container{
	display: inline-block;
    padding-bottom: 25px;	
}

#locationContainer input,
#locationContainer select{
	width: 225px;
}
