#post-job-info,
#side-bar{
	display: inline-block;
	vertical-align: top;
}
#side-bar{
	width: 150px;
	border-right: 1px solid #888;	
	position: fixed;
}
#post-job-info{
	width: 835px;
	margin-left: 250px;
}
#page-wrapper{
	width: 1100px;
	margin: auto;
	margin-top: 50px;
}
#side-bar > div{
	padding: 17px 0px;
	position: relative;
}
#side-bar > div span{
	width: 100%;
	display: inline-block;
}
#appendges{
    max-height: 700px;
    overflow-y: auto;
    width: 535px;
}
#side-bar > div span::after{
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid #888;
	border-radius: 10px;
	display: inline-block;
/* 	float: right; */
	position: absolute;
	right: -10px;
	background: #fff;
}
#side-bar > div span.hover::after,
#side-bar > div span:hover::after{
	background: red;
}
#side-bar > div.incomplete:not(.optional) span::after{
/* 	background: red; */
}
.item label{
	width: 230px;
/* 	font-weight: bold; */
	vertical-align: top;
}
button{
    background: #667c7d;
    color: #fff;
    padding: 7px 15px;
}

.item{	
	margin-bottom: 25px;
}
.item-wrapper{
	padding-left: 50px;
	overflow: hidden;
}
.section{
	padding-bottom: 50px;
}
#clear-calendar{
	margin-left: 47px;
}
.calendar.v2 td{
	height: 65px;
	width: 50px;
}
.time-wrapper label{
	width: 160px;
}
.time-wrapper{
	margin-bottom: 15px;
}
.item .radio-container label{
	display: block;
	width: 100%;
}
#dates-wrapper.multiple-work-days .show-with-multiple-work-days{
	display: block;
    min-height: 40px;	
}
#dates-wrapper:not(.multiple-work-days) .show-with-multiple-work-days{
	display: none;
}
#is-partial-availability-allowed-question{
	margin-bottom: 40px;
}
#is-partial-availability-allowed-question .radio-container{
/* 	padding-left: 50px; */
}
#work-days-calendar{
    margin-left: -35px;
    margin-top: 10px;    
}
.section h3{
	font-weight: bold;
	color: #197994;
	margin-bottom: 20px;
    margin-top: 0px;	
}
.section h3 span{
	font-size: 20px;
	color: #000
}
#edit-question-actions,
#set-all-end-times,
#set-all-start-times{
	display: none;
}
#edit-question-actions{
    margin-bottom: 15px;
}
#supreme-times-wrapper.setting-all-times #appendges select{
	background: #cacaca;
	pointer-events: none;
}
#copy-question-container,
#answer-list{
	display: inline-block;
}
#add-answer{
	display: block;	
}
#copy-or-new-question button{
    width: 345px;
}
#edit-question-actions,
#add-question-wrapper{
    margin-left: 235px;
}
#edit-question-actions span{
	margin-right: 10px
}
.list-item{
	margin-bottom: 10px;
}
.optional-item-explantion{
	margin-bottom: 30px;
}
#create-question-container,
#answer-list-container{
	display: none;
}
#street,
#city,
#question-format,
#question,
#answer-list .list-item input{
	width: 310px;
}
#name,
#description{
	width: 310px;
}
#state,
#zip-code,
#positions-per-day{
	width: 75px;
}
.added-question .glyphicon{
	margin-right: 10px;
}
#post-job-info .glyphicon{
	color: #888;
	font-size: 16px;
}
.added-question{
	margin-bottom: 10px;
}
#added-questions .question-text{
	font-weight: bold;
	color: #163b3d;
}
.skills-container input{
	width: 500px;
}
#proceed-to-preview-job-posting{
    margin-top: 20px;
    background: #197994;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
}
#side-bar span:hover{
	cursor: pointer;
}