#answerListContainer{
	display:none;
}

/* .delete-answer, #addAnswer{ */
/* 	cursor:pointer; */
/* 	font-size:15px; */
/* 	padding:5px; */
/* } */

/* .answer-container{ */
/* 	padding-bottom:8px; */
/* } */

#addedQuestions{
/* 	padding:20px 0px; */
/* 	display: none; */
}
#addedQuestions a{
	display:block;
	padding:4px 0px;
	height:35px;
	color: #000000;
	cursor:pointer;
}

#questionActions{
	padding-bottom: 20px;
}
#addedQuestions a:hover{
	text-decoration:none;
	text-shadow: none;
}

#addedQuestions a.selected{
    color: #163b3d;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

#questionActions button{
	background-color:rgb(192,192,192);
	color:#000000;
	cursor:default;
	outline:none;	
}

#questionActions button.clickable{
	background-color:#163b3d;;
	color:#ffffff;
	cursor:pointer;
}

#questionsContainer :disabled{
	cursor:default;
}

#editQuestionResponses{
	display:none;
}

#editQuestionResponses .glyphicon{
	font-size:17px;
	padding: 5px;
	cursor:pointer;
}

#invalidAddQuestion{
	padding-top:4px;
}

#timesTableContainer{
    width: 700px;
    margin: auto;
    display: none;
}
#questionsContainer .header.row{
	padding-bottom:0px;
}

#question{
	width:300px;
}

#postedQuestions{
	width:350px;
	text-align: left;
/* 	height:500px; */
/* 	overflow: scroll;  */
}
